.comments
  .comments__counter Комментариев - 8
  .comments__new
    .comments__user-logo
      img(src='img/av1.svg').comments__user-logo-icon
    textarea(placeholder='Написать сообщение').comments__textarea
  ul.comments__list
    li.comments__item
      .comments__user
        .comments__user-name Андрей
        .comments__user-logo
          img(src='img/av1.svg' alt='Аватар пользователя').comments__user-logo-icon
      .comments__comment
        .comments__date Дата: 06.03.2019
        .comments__text Здравствуйте. При каждом новом запуске, когда уже сам Designer запустился, остается окошко "S#.designer Загрузка настроек". При этом в программе можно работать, но положение окон и добавленные коннекторы с прошлого запуска не сохранены. В чем может быть проблема?
        .comments__controls
          button(type='button').comments__answer Ответить
          .comments__time Сегодня в 8:30
    li.comments__item
      .comments__user
        .comments__user-name Андрей
        .comments__user-logo
          img(src='img/av1.svg' alt='Аватар пользователя').comments__user-logo-icon
      .comments__comment
        .comments__date Дата: 06.03.2019
        .comments__text Здравствуйте. При каждом новом запуске, когда уже сам Designer запустился, остается окошко "S#.designer Загрузка настроек". При этом в программе можно работать, но положение окон и добавленные коннекторы с прошлого запуска не сохранены. В чем может быть проблема?
        .comments__controls
          button(type='button').comments__answer Ответить
          .comments__time Сегодня в 8:30
    li.comments__item
      .comments__user
        .comments__user-name Андрей
        .comments__user-logo
          img(src='img/av1.svg' alt='Аватар пользователя').comments__user-logo-icon
      .comments__comment
        .comments__date Дата: 06.03.2019
        .comments__text Здравствуйте. При каждом новом запуске, когда уже сам Designer запустился, остается окошко "S#.designer Загрузка настроек". При этом в программе можно работать, но положение окон и добавленные коннекторы с прошлого запуска не сохранены. В чем может быть проблема?
        .comments__controls
          button(type='button').comments__answer Ответить
          .comments__time Сегодня в 8:30
    li.comments__item
      .comments__user
        .comments__user-name Андрей
        .comments__user-logo
          img(src='img/av1.svg' alt='Аватар пользователя').comments__user-logo-icon
      .comments__comment
        .comments__date Дата: 06.03.2019
        .comments__text Здравствуйте. При каждом новом запуске, когда уже сам Designer запустился, остается окошко "S#.designer Загрузка настроек". При этом в программе можно работать, но положение окон и добавленные коннекторы с прошлого запуска не сохранены. В чем может быть проблема?
        .comments__controls
          button(type='button').comments__answer Ответить
          .comments__time Сегодня в 8:30

