.question-new
  textarea().question-new__textarea
  .question-new__user-logo
    img(src='img/av.svg' alt='Аватар пользователя').question-new__user-icon
  .question-new__tags
    .question-new__tag Тег: 3D графика
    .question-new__date 12 ноября 2018, в 20:00
  .question-new__btn
    button(type='button').question-new__button.button подписаться
