section.questions
  .container
    h1.questions__title Вопросы по MT4. StockSharp
    .questions__youtube
      include ../../common/youtube-btn
    .questions__content
      .questions__block
        .questions__new-message
          include question-new
        .questions__comments
          include comments
      .questions__sidebar
        include ../../common/sidebar
