.program-slider
  ul.program-slider__list
    li.program-slider__item.program-slider__page-programs
      a(href='#').program-slider__link
        .container
          .program-slider__desc
            .program-slider__brand StockSharp
            .program-slider__title.title Бесплатные программы для торговли и торговых роботов
            .program-slider__text StockSharp (кратко S#) - бесплатные программы для торговли на всех площадках мира (российские, американские, азиатские; акции, фьючерсы, опционы, биткоины, форекс и т.д.). Вы сможете торговать в ручном режиме или с помощью торговых роботов (обычные или HFT).
    li.program-slider__item.program-slider__designer
      a(href='#').program-slider__link
        .container
          .program-slider__desc
            .program-slider__brand StockSharp
            .program-slider__title.title S#.Designer - бесплатный визуальный дизайнер торговый стратегий.
            .program-slider__text S#.Designer - бесплатный дизайнер торговых стратегий. Интуитивно понятный интерфейс. "Программирование" стратегий мышкой или на C#. Встроенный бэктестер и подключение торговли ко всем площадкам (включены российские, американские, азиатские; акции, фьючерсы, опционы, биткоины, форекс и т.д.)
    li.program-slider__item.program-slider__data
      a(href='#').program-slider__link
        .container
          .program-slider__desc
            .program-slider__brand StockSharp
            .program-slider__title.title S#.Data (Гидра) - бесплатная программа загрузки и хранения маркет-данных.
            .program-slider__text S#.Data (Гидра) - бесплатная программа загрузки и хранения маркет-данных.
    li.program-slider__item.program-slider__terminal
      a(href='#').program-slider__link
        .container
          .program-slider__desc
            .program-slider__brand StockSharp
            .program-slider__title.title S#.Terminal - торговый терминал.
            .program-slider__text S#.Terminal - бесплатный торговый терминал. Множество типов подключений: Quik, Transaq, SmartCOM, AlfaDirect, Plaza 2 (CGate), TWIME, FIX/FAST, Micex Bridge, Oanda, FXCM, LMAX, Rithmic, Fusion/Blackwood, Interactive Brokers, OpenECry, Sterling, BarChart, IQFeed, E*Trade, BTCE, BitStamp, BitStamp, Bitfinex, Coinbase, Kraken, Poloniex, GDAX, Bittrex, Bithumb, HitBTC, OKCoin, Coincheck, Binance, Liqui, CEX.IO, Cryptopia, OKEx, BitMEX, YoBit, Livecoin, EXMO, Deribit, Huobi, KuCoin, BITEXBOOK, CoinExchange, ITCH.
    li.program-slider__item.program-slider__shell
      a(href='#').program-slider__link
        .container
          .program-slider__desc
            .program-slider__brand StockSharp
            .program-slider__title.title S#.Shell - готовый каркас для вашего торгового робота с исходными кодами C#.
            .program-slider__text Обновленный S#.Shell - нужен только алгоритм, все остальное он сделает за вас! S#.Shell - это готовый графический каркас с возможностью оперативного изменения под ваши нужды и с полностью открытым кодом на языке C# (достаточно базовых знаний).
  button.button.program-slider__button-prev
    svg.program-slider__button-icon(viewBox='0 0 27 51', xmlns='http://www.w3.org/2000/svg')
      path(d='M0.0433142 26.5182L24.7354 51L26.8783 48.9637L3.46645 25.5L26.9561 2.03631L24.7225 -1.95268e-07L0.0433144 24.4818L0.0433142 26.5182Z')
  button.button.program-slider__button-next
    svg.program-slider__button-icon(viewBox='0 0 27 51', xmlns='http://www.w3.org/2000/svg')
      path(d='M26.9127 24.4818L2.22065 0L0.0777657 2.03631L23.4896 25.5L0 48.9637L2.23361 51L26.9127 26.5182V24.4818Z')
  .program-slider__pagination
    include ../../common/pagination
  .program-slider__nav
    include ../../common/slider-nav
