section.programs-description
  .container
    .programs-description__content
      ul.programs-description__list
        li.programs-description__item
          .programs-description__block
            .programs-description__name S#.Designer
            .programs-description__desc Универсальная программа для создания торговых роботов и стратегий:
            button(type='button').programs-description__button.button Возможности
            .programs-description__elements
              .programs-description__el Графический визуальный дизайнер
                span.programs-description__el-icon ГВД
              .programs-description__el (создание стратегий мышкой).
                span.programs-description__el-icon ССМ
              .programs-description__el Написание стратегий на C#.
                span.programs-description__el-icon C С#
              .programs-description__el Простое создание собственных индикаторов.
                span.programs-description__el-icon CCИ
              .programs-description__el Подключения к множеству терминалов и брокерам.
                span.programs-description__el-icon ТБ
              .programs-description__el Все мировые площадки.
                span.programs-description__el-icon ВМП
          .programs-description__pic
            img(src='img/img1.jpg' alt='Картинка компьютера')
        li.programs-description__item.programs-description__item--mirror
          .programs-description__block
            .programs-description__name S#.DATA
            .programs-description__desc Программа для автоматического скачивания исторических и реал-тайм маркет-данных:
            button(type='button').programs-description__button.button Возможности
            .programs-description__elements
              .programs-description__el Поддерживает массу источников: (РТС, ММВБ, Финам, Yahoo Finance, Quik, Transaq, SmartCOM, AlfaDirect, Plaza 2 (CGate), FIX/FAST, Micex Bridge, LMAX, Rithmic, Fusion, Interactive Brokers, OpenECry, Sterling, IQFeed, E*Trade, BTCE, BitStamp и многое другое). Высокая степенью сжатия (2 байта на сделку, 7 байтов на стакан). Любые типа данных (свечи, тики, стаканы, ордер-лог, опционы, новости и другое).
                span.programs-description__el-icon РТС
              .programs-description__el Программный доступ через API.
                span.programs-description__el-icon API
              .programs-description__el Экспорт в csv, excel, xml или базу данных.
                span.programs-description__el-icon DB
              .programs-description__el Импорт данных из csv.
                span.programs-description__el-icon ИД
              .programs-description__el Задачи по расписанию.
                span.programs-description__el-icon ЗПР
              .programs-description__el Авто-синхронизация через Интернет между несколькими запущенными программами S#.Data.
                span.programs-description__el-icon АС
          .programs-description__pic
            img.programs-description__img(src='img/img2.jpg' alt='Картинка компьютера')
        li.programs-description__item
          .programs-description__block
            .programs-description__name S#.Terminal
            .programs-description__desc Бесплатный торговый терминал
            button(type='button').programs-description__button.button Возможности
            .programs-description__elements
              .programs-description__el Торговля с графика
                span.programs-description__el-icon ТСГ
              .programs-description__el Произвольные тайм-фреймы
                span.programs-description__el-icon ПТФ
              .programs-description__el Поддержка Volume, Tick, Range, P&F, Renko свечей
                span.programs-description__el-icon ПС
              .programs-description__el Кластеры и box графики
                span.programs-description__el-icon БГ
              .programs-description__el Множество подключений
                span.programs-description__el-icon МП
              .programs-description__el Любые рынки (акции, фьючерсы, Forex, биткоины)
                span.programs-description__el-icon ЛР
          .programs-description__pic
            img(src='img/img3.jpg' alt='Картинка компьютера')
        li.programs-description__item.programs-description__item--mirror
          .programs-description__block
            .programs-description__name S#.SHEll
            .programs-description__desc Готовый графический каркас с возможностью оперативного изменения под ваши нужды и с полностью открытым кодом на языке C#:
            button(type='button').programs-description__button.button Возможности
            .programs-description__elements
              .programs-description__el Полный исходный код
                span.programs-description__el-icon ПИК
              .programs-description__el Поддержка всех подключений платформы StockSharp: Quik, SmartCom, Plaza II CGate, FIX/FAST, Криптобирж (+30 на данный момент) и т.д.
                span.programs-description__el-icon ВПП
              .programs-description__el Поддержка схем S#.Designer.
                span.programs-description__el-icon DB
              .programs-description__el Гибкий пользовательский интерфейс
                span.programs-description__el-icon ИД
              .programs-description__el Тестирование стратегий (статистика, эквити, отчет).
                span.programs-description__el-icon ЗПР
              .programs-description__el Сохранение и восстановление настроек стратегии.
                span.programs-description__el-icon АС
              .programs-description__el Параллельный запуск стратегий.
                span.programs-description__el-icon ИД
              .programs-description__el Подробная информация о работе стратегии (ордера, сделки, позиция, прибыль, логи и т.д.)
                span.programs-description__el-icon ЗПР
              .programs-description__el Запуск стратегий по расписанию.
                span.programs-description__el-icon АС
          .programs-description__pic
            img.programs-description__img(src='img/img4.jpg' alt='Картинка компьютера')
        li.programs-description__item
          .programs-description__block
            .programs-description__name S#.api
            .programs-description__desc Библиотека для профессиональной разработки торговых роботов на языке C#. Для тех, кто программирует в Visual Studio, и является профессиональным программистом в области алготрейдинга.
          .programs-description__pic
            img(src='img/img5.jpg' alt='Картинка компьютера')
