section.programs-all
  .container
    .programs-all__title Все наши продукты:
    ul.programs-all__list
      li.programs-all__item
        .programs-all__name S#.Designer
        .programs-all__desc универсальная программа для создания торговых роботов и стратегий.
      li.programs-all__item
        .programs-all__name S#.data
        .programs-all__desc программа для скачивания маркет-данных.
      li.programs-all__item
        .programs-all__name S#.api
        .programs-all__desc библиотека для написания торговых роботов на языке C# в Visual Studio.
      li.programs-all__item
        .programs-all__name ЛЧИ Viewer
        .programs-all__desc графики конкурса ЛЧИ со сделками участников.
      li.programs-all__item
        .programs-all__name S#.shell
        .programs-all__desc готовая графическая оболочка с исходными кодами.
      li.programs-all__item
        .programs-all__name S#.matlab
        .programs-all__desc интеграция MatLab с торговыми системами. Торговля из скриптов MatLab.
      li.programs-all__item
        .programs-all__name S#.terminal
        .programs-all__desc торговый терминал.
    .programs-all__button
      button(type='button').button.programs-all__button-download Загрузить еще
