.reviews-christmas {
  padding: 60px 10%;
  position: relative;
  background: #f0f8ff;


  
  &:before {
    content: '';
    background-image: url("../../../img/bg1winter.svg");
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
  }

  @include laptop {
    padding: 30px 0;
  }

  &__title {
    text-align: center;
    font-size: 44px;
    position: relative;
    z-index: 20;

    @include phone {
      font-size: 40px;
    }
  }

  &__slider {
    position: relative;
    z-index: 20;
  }
}
