section.terminal-description
  .container
    .terminal-description__content
      ul.terminal-description__list
        li.terminal-description__item
          .terminal-description__block
            .terminal-description__name S#.Terminal
            .terminal-description__desc Бесплатный торговый терминал.
            .terminal-description__elements
              .terminal-description__el Бесплатный навсегда
                span.terminal-description__el-icon ИТ
              .terminal-description__el Торговля с графика
                span.terminal-description__el-icon ВС
              .terminal-description__el Произвольные тайм-фреймы
                span.terminal-description__el-icon СИ
              .terminal-description__el Поддержка Volume, Tick, Range, P&F, Renko свечей
                span.terminal-description__el-icon КА
              .terminal-description__el Кластеры и box графики
                span.terminal-description__el-icon КА
              .terminal-description__el Множество подключений
                span.terminal-description__el-icon КА
              .terminal-description__el Любые рынки
                span.terminal-description__el-icon КА
          .terminal-description__pic
            img(src='img/img1.jpg' alt='Картинка компьютера')
        li.terminal-description__item.terminal-description__item--mirror
          .terminal-description__buttons
            button(type='button').terminal-description__button-download.button.button--download Скачать
            button(type='button').button.button--download документация
          .terminal-description__pic
            img.terminal-description__img(src='img/img2.jpg' alt='Картинка компьютера')

