table.news-table
  tr.news-table__row
    td.news-table__cell.news-table__message
      .news-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .news-table__tags
        .news-table__tag.news-table__tag-first Тег: 3D графика
        .news-table__tag 12 ноября 2018
    td.news-table__cell.news-table__user
      .news-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg' alt='Аватар пользователя')
      .news-table__user-info
        .news-table__user-name Люся Рошка
        .news-table__user-time Ответила 4 дня назад
    td.news-table__cell
      .news-table__views 595 Просмотров
    td.news-table__cell
      .news-table__answers 29 Ответов
  tr.news-table__row
    td.news-table__cell.news-table__message
      .news-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .news-table__tags
        .news-table__tag.news-table__tag-first Тег: 3D графика
        .news-table__tag 12 ноября 2018
    td.news-table__cell.news-table__user
      .news-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg' alt='Аватар пользователя')
      .news-table__user-info
        .news-table__user-name Люся Рошка
        .news-table__user-time Ответила 4 дня назад
    td.news-table__cell
      .news-table__views 595 Просмотров
    td.news-table__cell
      .news-table__answers 29 Ответов
  tr.news-table__row
    td.news-table__cell.news-table__message
      .news-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .news-table__tags
        .news-table__tag.news-table__tag-first Тег: 3D графика
        .news-table__tag 12 ноября 2018
    td.news-table__cell.news-table__user
      .news-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg' alt='Аватар пользователя')
      .news-table__user-info
        .news-table__user-name Люся Рошка
        .news-table__user-time Ответила 4 дня назад
    td.news-table__cell
      .news-table__views 595 Просмотров
    td.news-table__cell
      .news-table__answers 29 Ответов
  tr.news-table__row
    td.news-table__cell.news-table__message
      .news-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .news-table__tags
        .news-table__tag.news-table__tag-first Тег: 3D графика
        .news-table__tag 12 ноября 2018
    td.news-table__cell.news-table__user
      .news-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg' alt='Аватар пользователя')
      .news-table__user-info
        .news-table__user-name Люся Рошка
        .news-table__user-time Ответила 4 дня назад
    td.news-table__cell
      .news-table__views 595 Просмотров
    td.news-table__cell
      .news-table__answers 29 Ответов
  tr.news-table__row
    td.news-table__cell.news-table__message
      .news-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .news-table__tags
        .news-table__tag.news-table__tag-first Тег: 3D графика
        .news-table__tag 12 ноября 2018
    td.news-table__cell.news-table__user
      .news-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg' alt='Аватар пользователя')
      .news-table__user-info
        .news-table__user-name Люся Рошка
        .news-table__user-time Ответила 4 дня назад
    td.news-table__cell
      .news-table__views 595 Просмотров
    td.news-table__cell
      .news-table__answers 29 Ответов
  tr.news-table__row
    td.news-table__cell.news-table__message
      .news-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .news-table__tags
        .news-table__tag.news-table__tag-first Тег: 3D графика
        .news-table__tag 12 ноября 2018
    td.news-table__cell.news-table__user
      .news-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg' alt='Аватар пользователя')
      .news-table__user-info
        .news-table__user-name Люся Рошка
        .news-table__user-time Ответила 4 дня назад
    td.news-table__cell
      .news-table__views 595 Просмотров
    td.news-table__cell
      .news-table__answers 29 Ответов
  tr.news-table__row
    td.news-table__cell.news-table__message
      .news-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .news-table__tags
        .news-table__tag.news-table__tag-first Тег: 3D графика
        .news-table__tag 12 ноября 2018
    td.news-table__cell.news-table__user
      .news-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg' alt='Аватар пользователя')
      .news-table__user-info
        .news-table__user-name Люся Рошка
        .news-table__user-time Ответила 4 дня назад
    td.news-table__cell
      .news-table__views 595 Просмотров
    td.news-table__cell
      .news-table__answers 29 Ответов
  tr.news-table__row
    td.news-table__cell.news-table__message
      .news-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .news-table__tags
        .news-table__tag.news-table__tag-first Тег: 3D графика
        .news-table__tag 12 ноября 2018
    td.news-table__cell.news-table__user
      .news-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg' alt='Аватар пользователя')
      .news-table__user-info
        .news-table__user-name Люся Рошка
        .news-table__user-time Ответила 4 дня назад
    td.news-table__cell
      .news-table__views 595 Просмотров
    td.news-table__cell
      .news-table__answers 29 Ответов

