section.news-page
  .container
    .news-page__title
    .news-page__content
      .news-page__search
        include ../../common/search-controls
        .news-page__youtube
          include ../../common/youtube-btn
      .news-page__block
        .news-page__messages
          include ../../includes/news/news-table
        .news-page__sidebar
          include ../../common/sidebar
      .news-page__pagination
        include ../../common/page-pagination
