section.how-it-works
  .container
    .how-it-works__content
      h2.how-it-works__title Как все устроено:
      .how-it-works__text
        p.how-it-works__text-mobile Надеюсь все кто интересовался этим роботом слышали про "торговлю волатильностью" и возможно даже пробовали реализовывать эту стратегию.
        p.how-it-works__text-full Надеюсь все кто интересовался этим роботом слышали про "торговлю волатильностью" и возможно даже пробовали реализовывать эту стратегию. Если нет, достаточно легко найти простое описание этой стратегии в сети. В общем случае при таком подходе предполагается, что ценность опциона зависит от того с какой частотой происходят колебания базового актива. При этом важны именно колебания, т.е. направленное движение в 2% это совсем не то же самое, что движение в +1%, а затем в -1%. Казалось бы суммарный путь актива одинаков, но результат для торговли опционами будет совершенно различен.
        p.how-it-works__text-full В том числе поэтому, мы придерживаемся позиции, что торговля опционами - это прежде всего торговля временем! Мы оцениваем прежде всего сможет ли базовый актив за срок до экспирации уйти за пределы заранее установленного диапазона или нет. Если да, то следующий вопрос который нужно задать, а в какую сторону скорее всего этот выход произойдет. Т.е. мы можем предполагать, что, допустим вверх базовый актив не сможет уйти за границы диапазона, а вниз легко.
        p.how-it-works__text-full Каким же образом робот помогает оценивать рынок и помогает в торговле? Прежде всего, в робота встроен алгоритм позволяющий оценивать именно среднее значение колебаний базового актива. При этом направленная динамика исключается. Основываясь на этом значении робот рекомендует трейдеру оптимальный шаг рехеджирования, т.е. тот размер движения через которое дельтахеджер будет приводить суммарную позицию по опционам и базовому активу к 0 (или иному заданному пользователем значению). Конечно трейдер всегда может не согласиться с роботом и задать свой параметр.
        p.how-it-works__text-full Помимо этого, робот поддерживает хеджирование по времени, хеджирование по размеру дельты, условное хеджирование (например, только если закрытие свечи будет больше/меньше заданного пользователем уровня), хеджирование только части опционной позиции. Создавая функционал данного робота мы стремились учесть все возможные варианты стратегий и подходов которые могут быть полезны трейдеру. Так, робот позволяет строить синтетическую опционную позицию исключительно с использованием фьючерсов по любому страйку, любому активу, любой дате истечения. Осуществляется так называемая репликация позиции.
        p.how-it-works__text-full В целом про этого робота можно рассказывать достаточно долго, но самое главное мы постарались отразить в этом коротком описании! Потенциальная доходность этого робота достигает 50% годовых! Желаем удачи на рынке
      .how-it-works__controls
        button(type='button').how-it-works__button.button Подробнее
      .how-it-works__instruction
        a(href='#').how-it-works__link Обучение Designer! План видеокурса уже тут!
