section.robot-description
  .container
    .robot-description__content
      .robot-description__slider
        include robot-slider
      .robot-description__box
        h1.robot-description__title Песочные часы
        .robot-description__buy
          button(type='button').robot-description__button-buy КУпить
          .robot-description__price 129900,00 РУБ
    .robot-description__more
      h2.robot-description__subtitle Подробнее о роботе:
      .robot-description__text
        p Преимущества и недостатки Торговые роботы изначально имеют своей целью минимизировать участие трейдера в работе. В полностью автоматических советниках сделки открываются алгоритмом. Следовательно, трейдер практически никак не участвует в самом процессе торговли. Те, кто занимается продажей советников говорят о том, что они будут зарабатывать вместо трейдера. Но подобные слоганы «слегка лукавят».
        p Очевидные плюсы Важным преимуществом советников именно перед трейдерами является то, что они не имеют эмоций. Советник не «жадничает», он не способен испытывать страх. Робот никогда не устает, на него не оказывается психологическая нагрузка. Еще один существенный момент – советник рассматривает только те сигналы, которые дает индикатор.




