.robot-slider
  ul.robot-slider__list
    li.robot-slider__item
      img.robot-slider__img(src='img/pic1.jpg' alt='Фотография робота')
    li.robot-slider__item.sl-active
      img.robot-slider__img(src='img/sl5.jpg' alt='Фотография робота')
    li.robot-slider__item
      img.robot-slider__img(src='img/pic3.jpg' alt='Фотография робота')
  .robot-slider__controls
    button(type='button').robot-slider__button-prev
      img(src='img/arrow-prev.svg')
    button(type='button').robot-slider__button-next
      img(src='img/arrow-next.svg')
