section.features-christmas
  .container
    h1.title.features-christmas__title Почему мы лидеры?
    ul.features-christmas__list
      li.features-christmas__item
        .features-christmas__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features-christmas__img
        .features-christmas__desc
          .features-christmas__name Бесплатный софт
          .features-christmas__text Мы сами создали и разработали специальный софт для создания торговых роботов. Наш софт полностью многогранен - он позволяет создавать торговых роботов как с программированием, так и без него
      li.features-christmas__item
        .features-christmas__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features-christmas__img
        .features-christmas__desc
          .features-christmas__name Дистанционное обучение
          .features-christmas__text Мы учим полностью дистанционно - это позволяет людям по всей России экономить своё время и силы, концентрируясь на создании торговых систем
      li.features-christmas__item
        .features-christmas__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features-christmas__img
        .features-christmas__desc
          .features-christmas__name Готовые системы
          .features-christmas__text Вы получаете набор готовых систем (более 20) для Ваших экспериментов, а также несколько готовых прибыльных торговых систем
      li.features-christmas__item
        .features-christmas__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features-christmas__img
        .features-christmas__desc
          .features-christmas__name Россия, Америка, Forex
          .features-christmas__text Создавайте и зарабатывайте на любом из этих рынков. Вам потребуются минимальные изменения в коде торгового робота, чтобы перенести свой алгоритм на любой из этих рынков
      li.features-christmas__item
        .features-christmas__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features-christmas__img
        .features-christmas__desc
          .features-christmas__name Мы - команда
          .features-christmas__text Наше обучение прошли уже более 700 человек (c 2011 года). Мы собираемся каждую неделю и обсуждаем новые идеи и возникающие проблемы. Вместе гораздо проще!
      li.features-christmas__item
        .features-christmas__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features-christmas__img
        .features-christmas__desc
          .features-christmas__name Учим с нуля!
          .features-christmas__text Мы научим Вас в команде единомышленников как правильно разрабатывать торговые системы и алгоритмы; как систематизировать доход на бирже с помощью торговых алгоритмов
    .features-christmas__controls
      button(type='button').features-christmas__button.button Загрузить еще
