.learning-slider-nav
  img(src='img/cld1.svg').learning-slider-nav__dec1
  img(src='img/cld3.svg').learning-slider-nav__dec2
  img(src='img/cld2.svg').learning-slider-nav__dec3
  img(src='img/cld4.svg').learning-slider-nav__dec4
  img(src='img/cld1.svg').learning-slider-nav__dec5
  img(src='img/cld6.svg').learning-slider-nav__dec6
  img(src='img/cld5.svg').learning-slider-nav__dec7
  img(src='img/cld3.svg').learning-slider-nav__dec8
  img(src='img/cld1.svg').learning-slider-nav__dec9
  img(src='img/cld2.svg').learning-slider-nav__dec10
  .container
    ul.learning-slider-nav__items
      li.learning-slider-nav__title Предлагаем
      li.learning-slider-nav__item
        a(href='#').learning-slider-nav__link
          .learning-slider-nav__circle
            svg.learning-slider-nav__icon(viewBox='0 0 27 27', xmlns='http://www.w3.org/2000/svg')
              g(clip-path='url(#clip0)')
                path(d='M24.6133 12.802V4.54837C24.6133 4.42465 24.5794 4.31143 24.5289 4.20723C24.5593 4.12291 24.6133 4.0485 24.6133 3.9551C24.6133 3.6021 24.3792 3.29155 24.0393 3.1942L12.9651 0.0301377C12.823 -0.0100459 12.6731 -0.0100459 12.531 0.0301377L1.45677 3.1942C1.11685 3.29155 0.882812 3.6021 0.882812 3.9551C0.882812 4.30811 1.11685 4.61866 1.45677 4.71601L5.62891 5.90802V6.84416C5.62891 7.74407 6.12872 8.57142 6.90197 8.95148C10.4476 10.6942 15.0469 10.6934 18.5942 8.95227C19.3674 8.57221 19.8672 7.74486 19.8672 6.84416V5.90802L23.0313 5.00404V12.802C22.1126 13.1296 21.4493 13.9994 21.4493 15.0293V16.6114C21.4493 17.0486 21.8031 17.4024 22.2403 17.4024H25.4044C25.8416 17.4024 26.1954 17.0486 26.1954 16.6114V15.0293C26.1953 13.9994 25.532 13.1297 24.6133 12.802Z')
                path(d='M19.2128 10.4773C17.2244 11.4544 14.9619 11.9704 12.6699 11.9704C10.378 11.9704 8.11462 11.4536 6.12547 10.4765C5.9312 10.381 5.77031 10.2394 5.59766 10.1133C5.76662 12.9604 7.29844 15.3763 9.4633 16.6141C9.4633 16.6141 10.5737 17.1387 10.9207 17.2373L10.922 17.2347C11.4839 17.3949 12.0624 17.5076 12.6699 17.5076C13.2261 17.5076 14.0183 17.3966 14.8099 17.1043C15.1746 16.9744 15.8739 16.6157 15.8739 16.6157C18.0401 15.3784 19.5729 12.9617 19.7421 10.1136C19.569 10.2399 19.4076 10.3815 19.2128 10.4773Z')
                path(d='M12.6696 19.0904C12.0319 19.0904 11.4183 18.992 10.8203 18.8477L12.6696 21.6216L14.5085 18.8503C13.9137 18.9929 13.3036 19.0904 12.6696 19.0904Z')
                path(d='M17.2233 17.6719C17.2092 17.6813 17.1935 17.6878 17.1796 17.6972L16.5143 18.6951C16.5143 18.7319 13.4813 23.2682 13.4609 23.2988V27.0008H23.7441C24.1814 27.0008 24.5352 26.647 24.5352 26.2098C24.5352 21.8901 21.3559 18.3442 17.2233 17.6719ZM18.998 23.8367H17.416C16.9788 23.8367 16.625 23.4829 16.625 23.0457C16.625 22.6085 16.9788 22.2547 17.416 22.2547H18.998C19.4353 22.2547 19.7891 22.6085 19.7891 23.0457C19.7891 23.4829 19.4353 23.8367 18.998 23.8367Z')
                path(d='M8.14589 17.6873C8.13303 17.6787 8.11868 17.6728 8.10581 17.6641C3.97761 18.341 0.804688 21.8921 0.804688 26.2091C0.804688 26.6463 1.15848 27.0001 1.5957 27.0001H11.8789V23.2981C8.29408 17.9116 9.02561 19.0113 8.14589 17.6873Z')
              defs
                clippath#clip0
                  rect(width='27', height='27', fill='white')
          .learning-slider-nav__name Обучение Алготрейдингу
      li.learning-slider-nav__item.el-active
        a(href='#').learning-slider-nav__link
          .learning-slider-nav__circle
            svg.learning-slider-nav__icon(viewBox='0 0 29 29', xmlns='http://www.w3.org/2000/svg')
              path(d='M20.7262 18.239H19.408L18.952 17.783C20.5769 15.9011 21.5552 13.4554 21.5552 10.7776C21.5552 4.82504 16.7301 0 10.7776 0C4.82512 0 0 4.82504 0 10.7776C0 16.7302 4.82504 21.5552 10.7776 21.5552C13.4554 21.5552 15.9011 20.5769 17.783 18.9603L18.239 19.4163V20.7262L26.5294 29L29 26.5294L20.7262 18.239ZM10.7776 18.239C6.65729 18.239 3.31621 14.8979 3.31621 10.7776C3.31621 6.65729 6.65729 3.31621 10.7776 3.31621C14.8979 3.31621 18.239 6.65729 18.239 10.7776C18.239 14.8979 14.8979 18.239 10.7776 18.239Z')
          .learning-slider-nav__name Найти Брокера
      li.learning-slider-nav__item
        a(href='#').learning-slider-nav__link
          .learning-slider-nav__circle
            svg.learning-slider-nav__icon(viewBox='0 0 27 31', xmlns='http://www.w3.org/2000/svg')
              path(d='M3.04426 15.0105C3.04426 14.7246 3.05621 14.4404 3.07885 14.1582H1.889C0.927694 14.1582 0.148438 14.9375 0.148438 15.8988V19.2813C0.148438 20.2426 0.927694 21.0218 1.889 21.0218H3.04426V15.0105Z')
              path(d='M25.1118 14.1582H23.9219C23.9445 14.4404 23.9565 14.7246 23.9565 15.0105V21.0217H25.1117C26.073 21.0217 26.8523 20.2425 26.8523 19.2812V15.8988C26.8523 14.9375 26.073 14.1582 25.1118 14.1582Z')
              path(d='M22.6262 25.1281V21.0112V15.0103C22.6262 14.7281 22.6127 14.449 22.5876 14.1733C22.1987 9.89828 18.8613 6.47551 14.6255 5.95555V5.28429V4.61384V4.25146C15.3129 3.86027 15.7768 3.12158 15.7768 2.27415C15.7767 1.01819 14.7586 0 13.5025 0C12.2466 0 11.2284 1.01819 11.2284 2.2742C11.2284 3.12168 11.6923 3.86027 12.3796 4.25151V4.61389V5.28434V5.9556C8.14268 6.47572 4.80465 9.90026 4.4172 14.1768C4.39233 14.4514 4.37891 14.7293 4.37891 15.0104V21.0076V25.1281H9.41758V23.1896C9.41758 22.6375 9.8651 22.19 10.4172 22.19H16.5878C17.1399 22.19 17.5874 22.6376 17.5874 23.1896V25.1281L22.6262 25.1281ZM9.10307 19.6058C7.73203 19.6058 6.62063 18.4943 6.62063 17.1233C6.62063 15.7522 7.73208 14.6408 9.10307 14.6408C10.4741 14.6408 11.5855 15.7522 11.5855 17.1233C11.5855 18.4943 10.4741 19.6058 9.10307 19.6058ZM15.7767 17.1233C15.7767 15.7523 16.8882 14.6409 18.2592 14.6409C19.6302 14.6409 20.7417 15.7523 20.7417 17.1233C20.7417 18.4944 19.6302 19.6058 18.2592 19.6058C16.8881 19.6058 15.7767 18.4943 15.7767 17.1233Z')
              path(d='M24.0849 26.4609H23.9571H17.5856H9.41576H3.04424H2.91644C2.45134 26.4609 2.07422 26.838 2.07422 27.3032V30.1588C2.07422 30.624 2.45128 31.001 2.91644 31.001H24.0848C24.5499 31.001 24.927 30.624 24.927 30.1588V27.3032C24.9271 26.838 24.55 26.4609 24.0849 26.4609Z')
          .learning-slider-nav__name Торговые Роботы

