.learning-nav-christmas
  ul.learning-nav-christmas__list
    li.learning-nav-christmas__item
      a(href='./index.html').learning-nav-christmas__link.nav-active-christmas Что мы предлагаем?
    li.learning-nav-christmas__item
      a(href='./programs.html').learning-nav-christmas__link Преимущества
    li.learning-nav-christmas__item
      a(href='#').learning-nav-christmas__link Стоимость
    li.learning-nav-christmas__item
      a(href='./learning.html').learning-nav-christmas__link Софт
