.learning-slider-cristmas
  ul.learning-slider-cristmas__list
    li.learning-slider-cristmas__item.learning-slider-cristmas__base-course
      a(href='#').learning-slider-cristmas__link
        .container
          .learning-slider-cristmas__desc
            .learning-slider-cristmas__brand StockSharp
            .learning-slider-cristmas__title.title Базовый курс S#. Designer
            .learning-slider-cristmas__text Россия, Америка, Forex
    li.learning-slider-cristmas__item.learning-slider-cristmas__full-course
      a(href='#').learning-slider-cristmas__link
        .container
          .learning-slider-cristmas__desc
            .learning-slider-cristmas__brand StockSharp
            .learning-slider-cristmas__title.title Расширеный курс S#. Designer
            .learning-slider-cristmas__text Россия, Америка, Forex
  button.button.learning-slider__button-prev
    img(src='img/arrow-prev-big.svg').learning-slider__button-icon
  button.button.learning-slider__button-next
    img(src='img/arrow-next-big.svg').learning-slider__button-icon
  .learning-slider-cristmas__pagination
    include ../../common/pagination
  .learning-slider-cristmas__nav
    include learning-slider-nav
