.learning-header-christmas
  .learning-header-christmas__bg
  img(src='img/forest.svg').learning-header-christmas__logo-icon-forest
  .container
    .learning-header-christmas__topheader
      .learning-header-christmas__logo.learning-header-christmas__logo-hide
        img(src='img/logo-w.svg').learning-header-christmas__logo-icon
        img(src='img/hat.svg').learning-header-christmas__logo-icon-hat
      .learning-header-christmas__logo-text
        img(src='img/logo-text.svg')
      .learning-header-christmas__lang-controls-up
        include language-setup
      .learning-header-christmas__hamburger
        include ../../includes/learning-christmas/hamburger
    .learning-header-christmas__subheader
      .learning-header-christmas__logo
        img(src='img/logo-w.svg').learning-header-christmas__logo-icon
        img(src='img/hat.svg').learning-header-christmas__logo-icon-hat
      .learning-header-christmas__nav
        include learning-nav
      .learning-header-christmas__lang-controls
        include language-setup
      .learning-header-christmas__mail
        a(href='mailto: lesson@stocksharp.com').learning-header-christmas__mail-link lesson@stocksharp.com
