section.partners-christmas
  .container
    h2.partners-christmas__title Партнеры
    .partners-christmas__slider
      include ../../includes/learning/partners-slider
    .partners-christmas__thenks
      h2.partners-christmas__title Благодарности
      include ../../includes/learning/thenk-slider
