section.prices-christmas
  .container
    .prices-christmas__content
      h1.title.prices-christmas__title Cтоимость обучения
      ul.prices-christmas__list
        li.prices-christmas__item
          label.prices-christmas__label
            input(type='checkbox' name='').prices-christmas__checkbox
            span.prices-christmas__checkbox-icon
            .prices-christmas__name видео курс #.API
          .prices-christmas__icon-hide
            img(src='../img/cane.svg')
          .prices-christmas__dropdown
            .prices-christmas__dropdown-name ОПИСАНИЕ
            .prices-christmas__dropdown-text S#.Designer - бесплатный дизайнер торговых стратегий. Интуитивно понятный интерфейс. "Программирование" стратегий мышкой или на C#. Встроенный бэктестер и подключение торговли ко всем площадкам (включены российские, американские, азиатские; акции, фьючерсы, опционы, биткоины, форекс и т.д.)
            .prices-christmas__dropdown-video
              img(src='img/video.jpg')
        li.prices-christmas__item.pr-active
          label.prices-christmas__label
            input(type='checkbox' name='').prices-christmas__checkbox
            span.prices-christmas__checkbox-icon
            .prices-christmas__name базовый S#.Designer
          .prices-christmas__icon-hide
            img(src='../img/cane.svg')
          .prices-christmas__dropdown
            .prices-christmas__dropdown-name ОПИСАНИЕ
            .prices-christmas__dropdown-text S#.Designer - бесплатный дизайнер торговых стратегий. Интуитивно понятный интерфейс. "Программирование" стратегий мышкой или на C#. Встроенный бэктестер и подключение торговли ко всем площадкам (включены российские, американские, азиатские; акции, фьючерсы, опционы, биткоины, форекс и т.д.)
            .prices-christmas__dropdown-video
              img(src='img/video.jpg')
        li.prices-christmas__item
          label.prices-christmas__label
            input(type='checkbox' name='').prices-christmas__checkbox
            span.prices-christmas__checkbox-icon
            .prices-christmas__name расширенный S#.Designer
          .prices-christmas__icon-hide
            img(src='../img/cane.svg')
          .prices-christmas__dropdown
            .prices-christmas__dropdown-name ОПИСАНИЕ
            .prices-christmas__dropdown-text S#.Designer - бесплатный дизайнер торговых стратегий. Интуитивно понятный интерфейс. "Программирование" стратегий мышкой или на C#. Встроенный бэктестер и подключение торговли ко всем площадкам (включены российские, американские, азиатские; акции, фьючерсы, опционы, биткоины, форекс и т.д.)
            .prices-christmas__dropdown-video
              img(src='img/video.jpg')
      h2.prices-christmas__subtitle Дополнительные опции:
      .prices-christmas__options
        .prices-christmas__table-options
          include ../../includes/learning/options
        .prices-christmas__total
          include ../../includes/learning/total
