section.robots-christmas
  .container
    .robots-christmas__title Торговые роботы
    .robots-christmas__subtitle Создание прибыльного алгоритма для торговли на бирже
    .robots-christmas__text
      p Торговый робот - это главный инструмент для увеличения капитала и получения дохода выше банковского. Четко продуманный и проверенный алгоритм позволяет оперативно отслеживать ситуацию на торговой бирже и играть как на повышение, так и на понижение рынка. Он дает возможность зарабатывать больше чем стратегия "купи и держи" (Buy&Hold).
      p Мы знаем как построить такой алгоритм и с радостью расскажем Вам об этом. Пройдя наше обучение Вы поймёте, как и какими инструментами можно создать прибыльный алгоритм, а также как сделать его полностью автономным (за счёт торгового робота). После обучения Вы сможете построить своего собственного торгового робота, который будет полностью индивидуальным, и он будет работать и увеличивать Ваш капитал!
    .robots-christmas__info
      .robots-christmas__features
        include robots-features
      .robots-christmas__features-slider
        include features-slider
