section.soft-christmas
  .container
    .soft-christmas__title.title Софт для создания торговых роботов
    .soft-christmas__subtitle Таймфрейм, Арбитражные, HFT торговые роботы
    .soft-christmas__text
      .soft-christmas__block1 Для начинающих трейдеров мы предлагаем графическую среду, которая значительно упрощает процесс создания и тестирования торговых роботов.
        img(src='img/1.svg').soft-christmas__digit1
      .soft-christmas__block2 Большое количество готовых примеров и дополнительного софта, который позволит Вам создать торгового робота ещё быстрее (каркас, анализатор и др.)
        img(src='img/2.svg').soft-christmas__digit2
      .soft-christmas__block3 Для построения алгоритма потребуется анализ и накопление данных для обработки и выявления прибыльных закономерностей на бирже. Таку задачу решает S#.Data. Она позволяет автоматически скачивать данные о торгах c официальных сайтов бирж, торговых терминалов, а также других источников (например, Финам).
        img(src='img/3.svg').soft-christmas__digit3
      .soft-christmas__block4 Для трейдеров, которые хотят создать свой сложный и уникальный алгоритм доступна специальная программная библиотека S#.API. Она позволяет на популярном программном языке (C#) создавать абсолютно любые стратегии: от позиционных стратегий с длительным таймфреймом до высокочастотных стратегий (HFT), использующих прямой доступ (DMA) к биржевым торгам.
        img(src='img/4.svg').soft-christmas__digit4
    .soft-christmas__controls
      button(type='button').button.soft-christmas__button-download Загрузить еще
