.total
  .total__container
    .total__result
      .total__price Цена:
      .total__price-value 32 900 РУБ.
    .total__result
      .total__discount Скидка:
      .total__discount-value 1900 РУБ.
    .total__result
      .total__sum Итого:
      .total__sum-value 31900 РУБ.
  .total__box
    .total__description
      .total__percent 35%
      .total__desc при покупке 2х лицензий
    .total__description
      .total__percent 50%
      .total__desc при покупке 3х лицензий
    .total__desc-text При покупке 4х и более лицензий, стоимость рассчитывается по запросу
