section.download
  .container
    .download__title Ночные сборки
    .download__controls
      .download__filter-search
        .download__filter
          include ../../common/filter
        .download__search
          include ../../common/search-controls
      .download__download
        button(type='button').button.download__download-button Загрузить свое
    .download__catalog
      ul.download__list
        li.download__item
          .download__pic
            img(src='img/networking.svg')
          .download__name S#.Designer
          a(href='#').download__get Скачать дистрибутив
        li.download__item
          .download__pic
            img(src='img/analytics1.svg')
          .download__name S#.Data
          a(href='#').download__get Скачать дистрибутив
        li.download__item
          .download__pic
            img(src='img/analytics.svg')
          .download__name S#.Terminal
          a(href='#').download__get Скачать дистрибутив
        li.download__item
          .download__pic
            img(src='img/laptop.svg')
          .download__name S#.aPI
          a(href='#').download__get Скачать с GitHub
          a(href='#').download__get скачать Nuget (инструкция)
        li.download__item
          .download__pic
            img(src='img/social.svg')
          .download__name S#.MatLab, S#.Shell или S#.WealthLab
          a(href='#').download__get Купить
    a(href='#').download__license Генератор Лицензий (подробнее о лицензиях)
