.footer-nav
  ul.footer-nav__list
    li.footer-nav__item
      a(href='#').footer-nav__link О Компании
    li.footer-nav__item
      a(href='#').footer-nav__link Контакты
    li.footer-nav__item
      a(href='#').footer-nav__link Партнеры
    li.footer-nav__item
      a(href='#').footer-nav__link Условия и положения
    li.footer-nav__item
      a(href='#').footer-nav__link Лицензия
