.header
  .container
    .header__topheader
      .header__logo
        svg.header__logo-icon(viewBox='0 0 59 35', xmlns='http://www.w3.org/2000/svg')
          path(d='M16.8958 0.111999C21.1838 0.111999 24.6878 1.504 27.4078 4.288L23.8558 7.744C22.8318 6.784 21.7758 6.08 20.6878 5.632C19.5998 5.184 18.3838 4.96 17.0398 4.96C15.3118 4.96 13.9038 5.36 12.8158 6.16C11.7598 6.96 11.2318 8.048 11.2318 9.424C11.2318 10.192 11.4078 10.832 11.7598 11.344C12.1118 11.856 12.6878 12.336 13.4878 12.784C14.3198 13.232 15.5198 13.712 17.0878 14.224C19.8718 15.088 21.9998 16.224 23.4718 17.632C24.9438 19.04 25.6798 20.992 25.6798 23.488C25.6798 25.376 25.1998 27.184 24.2398 28.912C23.2798 30.608 21.7758 32 19.7278 33.088C17.6798 34.176 15.1038 34.72 11.9998 34.72C7.19981 34.72 3.39181 33.168 0.575812 30.064L4.31981 26.416C5.37581 27.504 6.52781 28.336 7.77581 28.912C9.05581 29.456 10.5118 29.728 12.1438 29.728C14.2878 29.728 15.9678 29.248 17.1838 28.288C18.4318 27.296 19.0558 25.952 19.0558 24.256C19.0558 23.04 18.6398 22.064 17.8078 21.328C17.0078 20.56 15.5518 19.808 13.4398 19.072C10.3998 18.048 8.17581 16.848 6.76781 15.472C5.39181 14.064 4.70381 12.256 4.70381 10.048C4.70381 8.384 5.16781 6.8 6.09581 5.296C7.02381 3.76 8.39981 2.512 10.2238 1.552C12.0798 0.591998 14.3038 0.111999 16.8958 0.111999ZM57.5082 12.736H54.0522L51.4122 22.48H54.3882L53.7642 26.704H50.2602L48.2922 34H43.2522L45.2202 26.704H39.3162L37.3482 34H32.3082L34.2762 26.704H31.3962L32.0202 22.48H35.4282L38.0202 12.736H35.1402L35.7642 8.464H39.1722L40.9962 1.696H46.0842L44.2602 8.464H50.1642L51.9882 1.696H57.0282L55.2042 8.464H58.1322L57.5082 12.736ZM46.3722 22.48L49.0122 12.736H43.1082L40.4682 22.48H46.3722Z')
      .header__nav
        include nav
      .header__lang-controls
        include language-setup
      .header__personal-controls
        include personal-area
      .header__hamburger
        include hamburger
    .header__subheader
      include nav-community

