.header
  .container
    .header__topheader
      .header__logo
        img(src='img/logo.svg').header__logo-icon
      .header__nav
        include nav
      .header__lang-controls
        include language-setup
      .header__personal-controls
        include personal-area
      .header__hamburger
        include hamburger
    .header__subheader
      include sub-nav
