.nav-community
  ul.nav-community__list
    li.nav-community__item
      a(href='#').nav-community__link.is-active Мои
    li.nav-community__item
      a(href='./news.html').nav-community__link Новости
    li.nav-community__item
      a(href='./forum.html').nav-community__link Статьи
    li.nav-community__item
      a(href='./message-page.html').nav-community__link Чат
    li.nav-community__item
      a(href='#').nav-community__link Тех поддержка
