// Header nav
.nav
  ul.nav__list
    li.nav__item
      a(href='./index.html').nav__link.nav-active Краудфандинг
    li.nav__item
      a(href='./programs.html').nav__link Программы
    li.nav__item
      a(href='#').nav__link Стоимость
    li.nav__item
      a(href='#').nav__link Обучение
    li.nav__item
      a(href='#').nav__link Торговые роботы
    li.nav__item
      a(href='#').nav__link Разработка
    li.nav__item
      a(href='#').nav__link Сообщество
