.pagination
  ul.pagination__list
    li.pagination__item.p-active
      a(href='#').pagination__link
    li.pagination__item
      a(href='#').pagination__link
    li.pagination__item
      a(href='#').pagination__link
    li.pagination__item
      a(href='#').pagination__link
    li.pagination__item
      a(href='#').pagination__link
