.sidebar
  .sidebar__title Новости
  ul.sidebar__news-list
    li.sidebar__news-item
      a(href='#').sidebar__news-link Отзывы слушателей x 26
    li.sidebar__news-item
      a(href='#').sidebar__news-link План обучения x 6
    li.sidebar__news-item
      a(href='#').sidebar__news-link Настройка коннектора QuikLua x 0
    li.sidebar__news-item
      a(href='#').sidebar__news-link Руководство по GitHub x 61
    li.sidebar__news-item
      a(href='#').sidebar__news-link TWIME коннектор - сертифицирован самый быстрый коннектор к Московской бирже x 0
    li.sidebar__news-item
      a(href='#').sidebar__news-link FAQ по разрабатываемым фичам x 23
    li.sidebar__news-item
      a(href='#').sidebar__news-link Баг трекер x 14
    li.sidebar__news-item
      a(href='#').sidebar__news-link База знаний по программе Designer x
    li.sidebar__news-item
      a(href='#').sidebar__news-link План видеокурса уже тут! x 0
    li.sidebar__news-item
      a(href='#').sidebar__news-link План видеокурса уже тут! x 0
  .sidebar__topics-title Топики форумов
    ul.sidebar__topics-list
      li.sidebar__topics-item
        a(href='#').sidebar__topics-link Вопросы новичка в S# x 506
      li.sidebar__topics-item
        a(href='#').sidebar__topics-link Индикаторы - совместный проект x 340
      li.sidebar__topics-item
        a(href='#').sidebar__topics-link Текущие задачи по PlazaTrader x 192
      li.sidebar__topics-item
        a(href='#').sidebar__topics-link Сертификация торговой системы x 162
      li.sidebar__topics-item
        a(href='#').sidebar__topics-link Новый коннектор к Quik x 162

