//sub-nav
.sub-nav
  ul.sub-nav__list
    li.sub-nav__item
      a(href='#').sub-nav__link.is-active Все
    li.sub-nav__item
      a(href='#').sub-nav__link S#.Designer
    li.sub-nav__item
      a(href='#').sub-nav__link S#.Data
    li.sub-nav__item
      a(href='#').sub-nav__link S#.Terminal
    li.sub-nav__item
      a(href='#').sub-nav__link S#.API
    li.sub-nav__item
      a(href='#').sub-nav__link S#.Shell
    li.sub-nav__item
      a(href='#').sub-nav__link Документация
    li.sub-nav__item
      a(href='#').sub-nav__link Скачать
