//sub-nav
.sub-nav
  ul.sub-nav__list
    li.sub-nav__item
      a(href='#').sub-nav__link.is-active Все
    li.sub-nav__item
      a(href='./designer.html').sub-nav__link S#.Designer
    li.sub-nav__item
      a(href='./data.html').sub-nav__link S#.Data
    li.sub-nav__item
      a(href='./terminal.html').sub-nav__link S#.Terminal
    li.sub-nav__item
      a(href='./api.html').sub-nav__link S#.API
    li.sub-nav__item
      a(href='./shell.html').sub-nav__link S#.Shell
    li.sub-nav__item
      a(href='./documentation.html').sub-nav__link Документация
    li.sub-nav__item
      a(href='./download.html').sub-nav__link Скачать
