.text-transform
  ul.text-transform__list
    li.text-transform__item
      img(src='img/b.svg' alt='')
    li.text-transform__item
      img(src='img/i.svg' alt='')
    li.text-transform__item
      img(src='img/s.svg' alt='')
    li.text-transform__item
      img(src='img/line.svg' alt='')
    li.text-transform__item
      img(src='img/code.svg' alt='')
    li.text-transform__item
      img(src='img/gg.svg' alt='')
    li.text-transform__item
      img(src='img/list.svg' alt='')
    li.text-transform__item
      img(src='img/line.svg' alt='')
    li.text-transform__item
      img(src='img/lk.svg' alt='')
    li.text-transform__item
      img(src='img/line.svg' alt='')
    li.text-transform__item
      img(src='img/eye.svg' alt='')
    li.text-transform__item
      img(src='img/lay.svg' alt='')
    li.text-transform__item
      img(src='img/move.svg' alt='')
    li.text-transform__item
      img(src='img/line.svg' alt='')
    li.text-transform__item
      img(src='img/info.svg' alt='')
