.features-slider
  ul.features-slider__list
    li.features-slider__item
      img(src='img/fs.jpg' alt='Фотография')
  button(type='button').features-slider__button-prev
    img(src='img/arrow-prev.svg')
  button(type='button').features-slider__button-next
    img(src='img/arrow-next.svg')
