section.features
  .container
    h1.title.features__title Почему мы лидеры?
    ul.features__list
      li.features__item
        .features__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features__img
        .features__desc
          .features__name Бесплатный софт
          .features__text Мы сами создали и разработали специальный софт для создания торговых роботов. Наш софт полностью многогранен - он позволяет создавать торговых роботов как с программированием, так и без него
      li.features__item
        .features__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features__img
        .features__desc
          .features__name Дистанционное обучение
          .features__text Мы учим полностью дистанционно - это позволяет людям по всей России экономить своё время и силы, концентрируясь на создании торговых систем
      li.features__item
        .features__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features__img
        .features__desc
          .features__name Готовые системы
          .features__text Вы получаете набор готовых систем (более 20) для Ваших экспериментов, а также несколько готовых прибыльных торговых систем
      li.features__item
        .features__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features__img
        .features__desc
          .features__name Россия, Америка, Forex
          .features__text Создавайте и зарабатывайте на любом из этих рынков. Вам потребуются минимальные изменения в коде торгового робота, чтобы перенести свой алгоритм на любой из этих рынков
      li.features__item
        .features__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features__img
        .features__desc
          .features__name Мы - команда
          .features__text Наше обучение прошли уже более 700 человек (c 2011 года). Мы собираемся каждую неделю и обсуждаем новые идеи и возникающие проблемы. Вместе гораздо проще!
      li.features__item
        .features__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features__img
        .features__desc
          .features__name Учим с нуля!
          .features__text Мы научим Вас в команде единомышленников как правильно разрабатывать торговые системы и алгоритмы; как систематизировать доход на бирже с помощью торговых алгоритмов
