.learning-slider
  ul.learning-slider__list
    li.learning-slider__item.learning-slider__base-course
      a(href='#').learning-slider__link
        .container
          .learning-slider__desc
            .learning-slider__brand StockSharp
            .learning-slider__title.title Базовый курс S#. Designer
            .learning-slider__text Россия, Америка, Forex
    li.learning-slider__item.learning-slider__full-course
      a(href='#').learning-slider__link
        .container
          .learning-slider__desc
            .learning-slider__brand StockSharp
            .learning-slider__title.title Расширеный курс S#. Designer
            .learning-slider__text Россия, Америка, Forex
  button.button.learning-slider__button-prev
    img(src='img/arrow-prev-big.svg').learning-slider__button-icon
  button.button.learning-slider__button-next
    img(src='img/arrow-next-big.svg').learning-slider__button-icon
  .learning-slider__pagination
    include ../../common/pagination
  .learning-slider__nav
    include learning-slider-nav
