.learning-header
  .container
    .learning-header__topheader
      .learning-header__skype Skype: AlgoTradingRus
      .learning-header__logo-top
        img(src='img/logo.svg').learning-header__logo-icon
      .learning-header__tel
        a(href='tel: Тел: 8 800 201‑17-81').learning-header__tel-link Тел: 8 800 201‑17-81
      .learning-header__lang-controls-up
        include ../../common/language-setup
      .learning-header__hamburger
        include ../../common/hamburger
    .learning-header__subheader
      .learning-header__logo
        img(src='img/logo.svg').learning-header__logo-icon
      .learning-header__nav
        include learning-nav
      .learning-header__lang-controls
        include ../../common/language-setup
      .learning-header__mail
        a(href='mailto: lesson@stocksharp.com').learning-header__mail-link lesson@stocksharp.com
