.learning-footer
  .container
    .learning-footer__container
      .learning-footer__copyright © 2010 - 2019 Обучение по созданию торговых #[br] алгоритмов и роботов StockSharp
      .learning-footer__contacts
        .learning-footer__box
          .learning-footer__box-item
            img(src='img/tel.svg').learning-footer__icon
            a(href='tel: 8 800 201 1781').learning-footer__tel 8 800 201-17-81
          .learning-footer__box-item
            img(src='img/sk.svg').learning-footer__icon
            a(href='#').learning-footer__skype AlgoTradingRus
        .learning-footer__box
          .learning-footer__box-item
            img(src='img/ml.svg').learning-footer__icon
            a(href='mailto: lesson@stocksharp.ru').learning-footer__mail lesson@stocksharp.ru
          .learning-footer__box-item
            img(src='img/doc.svg').learning-footer__icon
            a(href='#').learning-footer__docs Договор оферта
