.options
  table.options__table
    tr.options__table-row
      td.options__table-cell
        label.options__lable
          input(type='checkbox' name='option').options__checkbox
          span.options__checkbox-icon
          .options__checkbox-name Примеры торг. роботов торг
      td.options__table-cell
        label.options__lable
          input(type='checkbox' name='option').options__checkbox
          span.options__checkbox-icon
          .options__checkbox-name Чат обучения (2 мес)
    tr.options__table-row
      td.options__table-cell
        label.options__lable
          input(type='checkbox' name='option').options__checkbox
          span.options__checkbox-icon
          .options__checkbox-name Прибыльные торг. системы
      td.options__table-cell
        label.options__lable
          input(type='checkbox' name='option').options__checkbox
          span.options__checkbox-icon
          .options__checkbox-name Чат обучения (6 мес)
    tr.options__table-row
      td.options__table-cell
        label.options__lable
          input(type='checkbox' name='option').options__checkbox
          span.options__checkbox-icon
          .options__checkbox-name Две прибыльные стратегии
      td.options__table-cell
        label.options__lable
          input(type='checkbox' name='option').options__checkbox
          span.options__checkbox-icon
          .options__checkbox-name 40 часов видео
    tr.options__table-row
      td.options__table-cell
        label.options__lable
          input(type='checkbox' name='option').options__checkbox
          span.options__checkbox-icon
          .options__checkbox-name Расширенная лицензия S#
      td.options__table-cell
        label.options__lable
          input(type='checkbox' name='option').options__checkbox
          span.options__checkbox-icon
          .options__checkbox-name Дополнительный софт
