section.partners
  .container
    h2.partners__title Партнеры
    .partners__slider
      include partners-slider
    .partners__thenks
      h2.partners__title Благодарности
      include thenk-slider
