.partners-slider
  .partners-slider__slide-show
    ul.partners-slider__list
      li.partners-slider__item
        img(src='img/pr1.jpg')
    .partners-slider__controls
      .partners-slider__btns
        button(type='button').partners-slider__button-next
          img(src='img/arrow-next.svg')
        button(type='button').partners-slider__button-prev
          img(src='img/arrow-prev.svg')
