section.prices
  .container
    .prices__content
      h1.title.prices__title Cтоимость обучения
      ul.prices__list
        li.prices__item.pr-active
          label.prices__label
            input(type='checkbox' name='').prices__checkbox
            span.prices__checkbox-icon
            .prices__name видео курс #.API
          .prices__dropdown
            .prices__dropdown-name ОПИСАНИЕ
            .prices__dropdown-text S#.Designer - бесплатный дизайнер торговых стратегий. Интуитивно понятный интерфейс. "Программирование" стратегий мышкой или на C#. Встроенный бэктестер и подключение торговли ко всем площадкам (включены российские, американские, азиатские; акции, фьючерсы, опционы, биткоины, форекс и т.д.)
            .prices__dropdown-video
              img(src='img/video.jpg')
        li.prices__item
          label.prices__label
            input(type='checkbox' name='').prices__checkbox
            span.prices__checkbox-icon
            .prices__name базовый S#.Designer
          .prices__dropdown
            .prices__dropdown-name ОПИСАНИЕ
            .prices__dropdown-text S#.Designer - бесплатный дизайнер торговых стратегий. Интуитивно понятный интерфейс. "Программирование" стратегий мышкой или на C#. Встроенный бэктестер и подключение торговли ко всем площадкам (включены российские, американские, азиатские; акции, фьючерсы, опционы, биткоины, форекс и т.д.)
            .prices__dropdown-video
              img(src='img/video.jpg')
        li.prices__item
          label.prices__label
            input(type='checkbox' name='').prices__checkbox
            span.prices__checkbox-icon
            .prices__name расширенный S#.Designer
          .prices__dropdown
            .prices__dropdown-name ОПИСАНИЕ
            .prices__dropdown-text S#.Designer - бесплатный дизайнер торговых стратегий. Интуитивно понятный интерфейс. "Программирование" стратегий мышкой или на C#. Встроенный бэктестер и подключение торговли ко всем площадкам (включены российские, американские, азиатские; акции, фьючерсы, опционы, биткоины, форекс и т.д.)
            .prices__dropdown-video
              img(src='img/video.jpg')
      h2.prices__subtitle Дополнительные опции:
      .prices__options
        .prices__table-options
          include options
        .prices__total
          include total
