.reviews-slider
  .reviews-slider__slide-show
    ul.reviews-slider__list
      li.reviews-slider__item.reviews-slider__item--round
        img(src='img/rs2.jpg')
      li.reviews-slider__item.reviews-slider__item--centered
        img(src='img/rs1.jpg')
      li.reviews-slider__item.reviews-slider__item--round
        img(src='img/rs3.jpg')
    .reviews-slider__controls
      .reviews-slider__btns
        button(type='button').reviews-slider__button-next
          img(src='img/arrow-next.svg')
        button(type='button').reviews-slider__button-prev
          img(src='img/arrow-prev.svg')
  .reviews-slider__desc
    .reviews-slider__name Алексей
    .reviews-slider__prof Инженер
    .reviews-slider__text Если ты хочешь стать алготрейдером и научиться самостоятельно создавать торговых роботов, то эти курсы для тебя! После курсов С# ты научишься программировать, а после курсов S# сможешь написать своих первых роботов! Конечно, в начале будет сложно, но если приложить не много усердия, то все получится! Профессиональные программисты из команды S# всегда помогут и подскажут. Удачи!

