.robots-features
  ul.robots-features__list
    li.robots-features__item
      .robots-features__icon
        img(src='img/mechanic.svg')
      .robots-features__text Мы НЕ продаём торговых роботов - #[span мы рассказываем как сделать своего!] Один и тот же алгоритм не может зарабатывать для всех;
    li.robots-features__item
      .robots-features__icon
        img(src='img/clock.svg')
      .robots-features__text #[span 2 месяца занятий] с он-лайн встречами и обсуждениями проблемных моментов;
    li.robots-features__item
      .robots-features__icon.robots-features__icon-end
        img(src='img/award.svg')
      .robots-features__text #[span Готовые примеры и дополнительный софт] специально для наших учеников.
