.thenks-slider
  ul.thenks-slider__list
    li.thenks-slider__item
      img.thenks-slider__img(src='img/th3.jpg' alt='Фотография отзыва')
    li.thenks-slider__item
      img.thenks-slider__img(src='img/th1.jpg' alt='Фотография отзыва')
    li.thenks-slider__item
      img.thenks-slider__img(src='img/th2.jpg' alt='Фотография отзыва')
  button(type='button').thenks-slider__button-next
    img(src='img/arrow-next.svg')
  button(type='button').thenks-slider__button-prev
    img(src='img/arrow-prev.svg')
