.banner-slider
  ul.banner-slider__list
    li.banner-slider__item.banner-slider__page-prices
      a(href='#').banner-slider__link
        .container
          .banner-slider__desc
            .banner-slider__brand StockSharp
            .banner-slider__title.title Купить Коннекторы
            .banner-slider__text Российские и мировые площадки, акции, фьючерсы, опционы, Forex, bitcoins, парный трейдинг, HFT, обучение, сообщество
    li.banner-slider__item.banner-slider__trading-robots
      a(href='#').banner-slider__link
        .container
          .banner-slider__desc
            .banner-slider__brand StockSharp
            .banner-slider__title.title Торговые Роботы
            .banner-slider__text Российские и мировые площадки, акции, фьючерсы, опционы, Forex, bitcoins, парный трейдинг, HFT, обучение, сообщество
    li.banner-slider__item.banner-slider__trading-platforms
      a(href='#').banner-slider__link
        .container
          .banner-slider__desc
            .banner-slider__brand StockSharp
            .banner-slider__title.title Торговые Платформы
            .banner-slider__text Российские и мировые площадки, акции, фьючерсы, опционы, Forex, bitcoins, парный трейдинг, HFT, обучение, сообщество
    li.banner-slider__item.banner-slider__training
      a(href='#').banner-slider__link
        .container
          .banner-slider__desc
            .banner-slider__brand StockSharp
            .banner-slider__title.title Обучение Алготрейдингу
            .banner-slider__text Российские и мировые площадки, акции, фьючерсы, опционы, Forex, bitcoins, парный трейдинг, HFT, обучение, сообщество
    li.banner-slider__item.banner-slider__developmend
      a(href='#').banner-slider__link
        .container
          .banner-slider__desc
            .banner-slider__brand StockSharp
            .banner-slider__title.title Разработка решений
            .banner-slider__text Российские и мировые площадки, акции, фьючерсы, опционы, Forex, bitcoins, парный трейдинг, HFT, обучение, сообщество
  button.button.banner-slider__button-prev
    svg.banner-slider__button-icon(viewBox='0 0 27 51', xmlns='http://www.w3.org/2000/svg')
      path(d='M0.0433142 26.5182L24.7354 51L26.8783 48.9637L3.46645 25.5L26.9561 2.03631L24.7225 -1.95268e-07L0.0433144 24.4818L0.0433142 26.5182Z')
  button.button.banner-slider__button-next
    svg.banner-slider__button-icon(viewBox='0 0 27 51', xmlns='http://www.w3.org/2000/svg')
      path(d='M26.9127 24.4818L2.22065 0L0.0777657 2.03631L23.4896 25.5L0 48.9637L2.23361 51L26.9127 26.5182V24.4818Z')
  .banner-slider__pagination
    include ../../../common/pagination
  .banner-slider__nav
    include ../../../common/slider-nav
