section.news
  .container
    .news__title Новости Stock Sharp
      ul.news__list
        li.news__item
          a(href='#').news__link
            .news__pic
              img.news__img(src='/img/nw1.jpg' alt='Картинка новости')
            .news__desc
              .news__date 12.01.2016
              .news__name Bitcoin and ether debit
              .news__text Order EXWAL plastic bitcoin or ether debit card and/ or virtual card and use them for...
              .news__info
                .news__time-ago 40 мин назад
                .news__comments 15 комментариев
        li.news__item
          a(href='#').news__link
            .news__pic
              img.news__img(src='/img/nw2.jpg' alt='Картинка новости')
            .news__desc.news__desc--centered
              .news__date 12.01.2016
              .news__name Bitcoin and ether debit cards
              .news__text Order EXWAL plastic bitcoin or ether debit card and/ or virtual card and use them for...
              .news__info
                .news__time-ago 40 мин назад
                .news__comments 15 комментариев
        li.news__item
          a(href='#').news__link
            .news__pic
              img.news__img(src='/img/nw3.jpg' alt='Картинка новости')
            .news__desc
              .news__date 12.01.2016
              .news__name Bitcoin and ether debit
              .news__text Order EXWAL plastic bitcoin or ether debit card and/ or virtual card and use them for...
              .news__info
                .news__time-ago 40 мин назад
                .news__comments 15 комментариев
