section.products
  .container
    ul.products__list
      li.products__item#trading-platforms
        a(href='#').products__link.products__link-tr-platform
          img(src='img/pic1.jpg' alt='pic').products__link-img
      li.products__item#training
        a(href='#').products__link.products__link-training
          img(src='img/pic2.jpg' alt='pic').products__link-img
      li.products__item#prices
        a(href='#').products__link.products__link-prices
          img(src='img/pic3.jpg' alt='pic').products__link-img
      li.products__item#trading-robots
        a(href='#').products__link.products__link-tr-robots
          img(src='img/pic4.jpg' alt='pic').products__link-img
      li.products__item#development
        a(href='#').products__link.products__link-dev
          img(src='img/pic5.jpg' alt='pic').products__link-img
    .products__button
      button(type='button').button.products__button-download Загрузить еще
