section.find-broker
  .container
    .find-broker__title Найти брокера
    .find-broker__controls
      .find-broker__filter-search
        .find-broker__filter
          include ../../common/filter
        .find-broker__search
          include ../../common/search-controls
      .find-broker__download
        button(type='button').button.find-broker__download-button Загрузить свое
    .find-broker__catalog
      ul.find-broker__list
        li.find-broker__item
          .find-broker__pic
            img.find-broker__img(src='img/rb7.jpg' alt='Логотип компании')
          .find-broker__name ITI Capital
          .find-broker__count Трейдеры: 32
          .find-broker__more открыть счет
          .find-broker__reviews Отзывы: 27
          .find-broker__dropdown
            .find-broker__criteria Критерии
            ul.find-broker__criteria-list
              li.find-broker__criteria-item Брокер
            button(type='button').button.find-broker__get-button открыть счет
        li.find-broker__item.b-active
          .find-broker__pic
            img.find-broker__img(src='img/rb2.jpg' alt='Логотип компании')
          .find-broker__name Optimus Futures
          .find-broker__count Трейдеры: 32
          .find-broker__more открыть счет
          .find-broker__reviews Отзывы: 27
          .find-broker__dropdown
            .find-broker__criteria Критерии
            ul.find-broker__criteria-list
              li.find-broker__criteria-item Брокер
            button(type='button').button.find-broker__get-button открыть счет
        li.find-broker__item
          .find-broker__pic
            img.find-broker__img(src='img/rb3.jpg' alt='Логотип компании')
          .find-broker__name Церих
          .find-broker__count Трейдеры: 32
          .find-broker__more открыть счет
          .find-broker__reviews Отзывы: 27
          .find-broker__dropdown
            .find-broker__criteria Критерии
            ul.find-broker__criteria-list
              li.find-broker__criteria-item Брокер
            button(type='button').button.find-broker__get-button открыть счет
        li.find-broker__item
          .find-broker__pic
            img.find-broker__img(src='img/rb4.jpg' alt='Логотип компании')
          .find-broker__name Финам
          .find-broker__count Трейдеры: 32
          .find-broker__more открыть счет
          .find-broker__reviews Отзывы: 27
          .find-broker__dropdown
            .find-broker__criteria Критерии
            ul.find-broker__criteria-list
              li.find-broker__criteria-item Брокер
            button(type='button').button.find-broker__get-button открыть счет
        li.find-broker__item
          .find-broker__pic
            img.find-broker__img(src='img/rb5.jpg' alt='Логотип компании')
          .find-broker__name AMP Futures
          .find-broker__count Трейдеры: 32
          .find-broker__more открыть счет
          .find-broker__reviews Отзывы: 27
          .find-broker__dropdown
            .find-broker__criteria Критерии
            ul.find-broker__criteria-list
              li.find-broker__criteria-item Брокер
            button(type='button').button.find-broker__get-button открыть счет
        li.find-broker__item
          .find-broker__pic
            img.find-broker__img(src='img/rb5.jpg' alt='Логотип компании')
          .find-broker__name ITI Capital
          .find-broker__count Трейдеры: 32
          .find-broker__more открыть счет
          .find-broker__reviews Отзывы: 27
          .find-broker__dropdown
            .find-broker__criteria Критерии
            ul.find-broker__criteria-list
              li.find-broker__criteria-item Брокер
            button(type='button').button.find-broker__get-button открыть счет
        li.find-broker__item
          .find-broker__pic
            img.find-broker__img(src='img/rb6.jpg' alt='Логотип компании')
          .find-broker__name BCS Broker
          .find-broker__count Трейдеры: 32
          .find-broker__more открыть счет
          .find-broker__reviews Отзывы: 27
          .find-broker__dropdown
            .find-broker__criteria Критерии
            ul.find-broker__criteria-list
              li.find-broker__criteria-item Брокер
            button(type='button').button.find-broker__get-button открыть счет
        li.find-broker__item
          .find-broker__pic
            img.find-broker__img(src='img/rb7.jpg' alt='Логотип компании')
          .find-broker__name Alor Broker
          .find-broker__count Трейдеры: 32
          .find-broker__more открыть счет
          .find-broker__reviews Отзывы: 27
          .find-broker__dropdown
            .find-broker__criteria Критерии
            ul.find-broker__criteria-list
              li.find-broker__criteria-item Брокер
            button(type='button').button.find-broker__get-button открыть счет
    .find-broker__pagination
      include ../../common/page-pagination
