section.development
  .container
    .development__content
      .development__description
        .development__features
          h2.development__title Преимущества наших торговых роботов:
          ul.development__features-list
            li.development__features-item Прямое подключение к биржам РТС и ММВБ
            li.development__features-item Подключение к западным площадкам.
            li.development__features-item Поддержка любого терминала (Quik, Transaq и т.д.).
            li.development__features-item Удобная графический каркас.
            li.development__features-item Высокая скорость работы.
            li.development__features-item Надежность решения (защиты от потери связи, "зависания" брокера).
            li.development__features-item Тестирование стратегии на любых данных (свечки, тики, стаканы).
            li.development__features-item Техническая поддержка.
        h2.development__title ЧаВО
        .development__questions
          ul.development__questions-list
            li.development__questions-item Сколько стоит?
            li.development__questions-item-answer Стоимость рассчитывается как КоличествоДней * СтавкуПрограммиста. Количество дней можно оценить только по техническому заданию. Ставка программиста - рыночная.
            li.development__questions-item У меня нет ТехЗадания (ТЗ)
            li.development__questions-item-answer Вы можете воспользоваться нашей анкетой-помощником. Или мы можем включить в стоимость заказа анализ технических требований.
            li.development__questions-item Будут ли доступны исходные коды?
            li.development__questions-item-answer Конечно. Весь материал, созданный в рамках задания, отправляется заказчику.
      .development__form
        include ../../includes/development/development-form
