form.development-form
  .development-form__row
    input(type='text' placeholder='Ф.И.О' required).development-form__input
  .development-form__row
    input(type='text' placeholder='Ваш Email' required).development-form__input
  .development-form__row
    input(type='text' placeholder='Ваш телефон' required).development-form__input
  .development-form__controls
    button(type='file').development-form__button-upload Выбирите файл
    .development-form__file-info Файл не выбран.
  .development-form__row
    textarea(placeholder='Написать сообщение' required).development-form__textarea
  .development-form__row
    a(href='#').development-form__anketa Анкета-помощник для составления ТЗ
  .development-form__controls
    button(type='submit').development-form__button-submit Отправить
