.message-page {
  padding: 100px 0;

  @include tablet {
    padding: 50px 0;
  }

  @include phone {
    padding: 20px 0;
  }

  &__autor {
    font-size: 15px;
    margin-bottom: 50px;
    margin-left: 50px;

    @include tablet {
      margin-bottom: 0;
      margin-left: 0;
    }
  }
}
