section.api-features
  .container
    .api-features__title ПРЕИМУЩЕСТВА:
    ul.api-features__list
      li.api-features__item
        .api-features__name Переносимость
        .api-features__desc робот не зависит от API биржи брокера или биржи, и может работать с любым подключением. Например, легко перейти с Quik на Transaq, или c Форекса на фондовую биржу.
      li.api-features__item
        .api-features__name тестирование
        .api-features__desc максимально точное тестирование на тиках и стаканах, определение реального проскальзывания.
      li.api-features__item
        .api-features__name Распространенность
        .api-features__desc широко используемый язык C#, популярная среда программирования Visual Studio.
      li.api-features__item
        .api-features__name Универсальность
        .api-features__desc широко используемый язык C#, популярная среда программирования Visual Studio.
      li.api-features__item
        .api-features__name Мировые площадки
        .api-features__desc торговля NASDAQ, NYSE, CME и т.д. через брокеров OpenECry, Interactive Brokers, E*TRADE и другие.
      li.api-features__item
        .api-features__name Российский рынок
        .api-features__desc полная поддержка Московской биржи (ММВБ, РТС), спот-рынка, фьючерсов и опционов.
      li.api-features__item
        .api-features__name Прямое подключение
        .api-features__desc торговля через прямое подключение к бирже, а также поддержка FIX протокола.
      li.api-features__item
        .api-features__name Производительность
        .api-features__desc одновременное исполнение сотен стратегий по любым инструментам.
      li.api-features__item
        .api-features__name Скорость
        .api-features__desc обработка заявок в S#.API занимает не более нескольких микросекунд.
    .api-features__button
        button(type='button').button.api-features__button-download Загрузить еще
    .api-features__buttons
      button(type='button').button.button--download Скачать
      button(type='button').button.button--download.api-features__button-documents документация
