section.api-description
  .container
    .api-description__content
      ul.api-description__list
        li.api-description__item
          .api-description__block
            .api-description__name S#.API
            .api-description__desc Бесплатная библиотека
            button(type='button').api-description__button.button Возможности
            .api-description__elements
              .api-description__el S#.API ориентирована на программирование на языке C# в среде Visual Studio, позволяя создавать абсолютно любые стратегии: от позиционных стратегий с длительным таймфреймом до высокочастотных стратегий (HFT), использующих прямой доступ (DMA) к биржевым торгам.
                | #[br]#[br] S#.API является основой всех наших продуктов. На базе библиотеки созданы такие решения как S#.Designer, S#.Data и т.д.. А также наши адаптеры, например, S#.MatLab.
          .api-description__pic
            img.api-description__img(src='img/img1.jpg' alt='Картинка компьютер')
