section.features-broker
  .container
    h1.title.features-broker__title Почему мы лидеры?
    ul.features-broker__list
      li.features-broker__item
        .features-broker__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features-broker__img
        .features-broker__desc
          .features-broker__name Бесплатный софт
          .features-broker__text Мы сами создали и разработали специальный софт для создания торговых роботов. Наш софт полностью многогранен - он позволяет создавать торговых роботов как с программированием, так и без него
      li.features-broker__item
        .features-broker__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features-broker__img
        .features-broker__desc
          .features-broker__name Дистанционное обучение
          .features-broker__text Мы учим полностью дистанционно - это позволяет людям по всей России экономить своё время и силы, концентрируясь на создании торговых систем
      li.features-broker__item
        .features-broker__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features-broker__img
        .features-broker__desc
          .features-broker__name Готовые системы
          .features-broker__text Вы получаете набор готовых систем (более 20) для Ваших экспериментов, а также несколько готовых прибыльных торговых систем
      li.features-broker__item
        .features-broker__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features-broker__img
        .features-broker__desc
          .features-broker__name Россия, Америка, Forex
          .features-broker__text Создавайте и зарабатывайте на любом из этих рынков. Вам потребуются минимальные изменения в коде торгового робота, чтобы перенести свой алгоритм на любой из этих рынков
      li.features-broker__item
        .features-broker__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features-broker__img
        .features-broker__desc
          .features-broker__name Мы - команда
          .features-broker__text Наше обучение прошли уже более 700 человек (c 2011 года). Мы собираемся каждую неделю и обсуждаем новые идеи и возникающие проблемы. Вместе гораздо проще!
      li.features-broker__item
        .features-broker__pic
          img(src='img/f1.jpg' alt='Картинка преимуществ').features-broker__img
        .features-broker__desc
          .features-broker__name Учим с нуля!
          .features-broker__text Мы научим Вас в команде единомышленников как правильно разрабатывать торговые системы и алгоритмы; как систематизировать доход на бирже с помощью торговых алгоритмов
    .features-broker__controls
      button(type='button').features-broker__button.button Загрузить еще
