.learning-header-broker
  img(src='img/m-bag.svg').learning-header-broker__ic1
  img(src='img/ic2.svg').learning-header-broker__ic2
  img(src='img/ic3.svg').learning-header-broker__ic3
  img(src='img/ic4.svg').learning-header-broker__ic4
  img(src='img/ic5.svg').learning-header-broker__ic5
  img(src='img/ic6.svg').learning-header-broker__ic6
  .container
    .learning-header-broker__topheader
      .learning-header-broker__skype Skype: AlgoTradingRus
      .learning-header-broker__logo-top
        img(src='img/logo-w.svg').learning-header-broker__logo-icon
      .learning-header-broker__title
        img(src='img/br-logo.svg')
      .learning-header-broker__tel
        a(href='tel: Тел: 8 800 201‑17-81').learning-header-broker__tel-link Тел: 8 800 201‑17-81
      .learning-header-broker__lang-controls-up
        include ../../includes/learning-christmas/language-setup
      .learning-header-broker__hamburger
        include ../../includes/learning-christmas/hamburger
    .learning-header-broker__subheader
      .learning-header-broker__logo
        img(src='img/logo-w.svg').learning-header-broker__logo-icon
      .learning-header-broker__nav
        include ../../includes/learning-christmas/learning-nav
      .learning-header-broker__lang-controls
        include ../../includes/learning-christmas/language-setup
      .learning-header-broker__mail
        a(href='mailto: lesson@stocksharp.com').learning-header-broker__mail-link lesson@stocksharp.com
