// Header nav
.learning-nav
  ul.learning-nav__list
    li.learning-nav__item
      a(href='./index.html').learning-nav__link.nav-active Что мы предлагаем?
    li.learning-nav__item
      a(href='./programs.html').learning-nav__link Преимущества
    li.learning-nav__item
      a(href='#').nav__link Стоимость
    li.learning-nav__item
      a(href='./learning.html').learning-nav__link Софт
