section.partners-broker
  .container
    h2.partners-broker__title Партнеры
    .partners-broker__slider
      include partners-slider
    .partners-broker__thenks
      h2.partners-broker__title Благодарности
      include thenk-slider
