section.partners-broker
  .container
    h2.partners-broker__title Партнеры
    .partners-broker__slider
      include ../../includes/learning/partners-slider
    .partners-broker__thenks
      h2.partners-broker__title Благодарности
      include ../../includes/learning/thenk-slider

