.total-broker
  .total-broker__container
    .total-broker__result
      .total-broker__price Цена:
      .total-broker__price-value 32 900 РУБ.
    .total-broker__result
      .total-broker__discount Скидка:
      .total-broker__discount-value 1900 РУБ.
    .total-broker__result
      .total-broker__sum Итого:
      .total-broker__sum-value 31900 РУБ.
  .total-broker__box
    .total-broker__description
      .total-broker__percent 35%
      .total-broker__desc при покупке 2х лицензий
    .total-broker__description
      .total-broker__percent 50%
      .total-broker__desc при покупке 3х лицензий
    .total-broker__desc-text При покупке 4х и более лицензий, стоимость рассчитывается по запросу
