.products {
  padding: 30px 0 120px 0;

  @include laptop {
    padding: 30px 0 50px 0;
  }

  &__list {
    display: grid;
    grid-template-areas: "tr-platform tr-platform training" "tr-platform tr-platform training" "prices tr-robots dev";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    height: 100%;
    width: 100%;
    margin: 0;

    @include phone {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {

    @include phone {
      //height: 240px;
      display: none;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(1) {
        display: block;
      }

      &:nth-child(4) {
        display: block;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;

    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, #222424 0%, #222424 56.77%);
      opacity: 0.4;
    }
  }

  &__link-img {
    width: 100%;
  }

  &__link-tr-platform {
    position: relative;
    display: flex;

    &:after {
      content: 'Торговые Платформы';
      display: block;
      position: absolute;
      bottom: rem(45);
      left: rem(45);
      font-size: rem(36);
      color: #FFFFFF;
      padding-right: 50%;

      @include laptop {
        bottom: rem(25.5);
        left: rem(25.5);
      }

      @include tablet {
        font-size: rem(30);
      }

      @include phone {
        padding-right: 0;
      }
    }
  }

  &__link-training {
    position: relative;
    display: flex;

    &:after {
      content: 'Обучение Алготрейдингу';
      display: block;
      position: absolute;
      bottom: rem(45);
      left: rem(45);
      font-size: rem(36);
      color: #FFFFFF;

      @include laptop {
        bottom: rem(25.5);
        left: rem(25.5);
      }

      @include tablet {
        font-size: rem(30);
      }
    }
  }

  &__link-prices {
    position: relative;
    display: flex;

    &:after {
      content: 'Купить Коннекторы';
      display: block;
      position: absolute;
      bottom: rem(36);
      left: rem(45);
      font-size: rem(26);
      color: #FFFFFF;

      @include laptop {
        bottom: rem(25.5);
        left: rem(25.5);
      }
    }
  }

  &__link-tr-robots {
    position: relative;
    display: flex;

    &:after {
      content: 'Торговые Роботы';
      display: block;
      position: absolute;
      bottom: rem(36);
      left: rem(45);
      font-size: rem(26);
      color: #FFFFFF;

      @include laptop {
        bottom: rem(25.5);
        left: rem(25.5);
      }
    }
  }

  &__link-dev {
    position: relative;
    display: flex;

    &:after {
      content: 'Разработка решений';
      display: block;
      position: absolute;
      bottom: rem(36);
      left: rem(45);
      font-size: rem(26);
      color: #FFFFFF;

      @include laptop {
        bottom: rem(25.5);
        left: rem(25.5);
      }
    }
  }

  &__button {
    margin-top: 40px;
    display: none;
    color: $secondFontColor;


    @include phone {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__button-download {
    padding-bottom: 10px;
    border-bottom: 1px solid #ACACAC;
    font-size: 25px;
  }
}

// grids =====>

#trading-platforms {
  grid-area: tr-platform;
}

#training {
  grid-area: training;
}

#prices {
  grid-area: prices;
}

#trading-robots {
  grid-area: tr-robots;
}

#development {
  grid-area: dev;
}

