.price-tabs {
  position: relative;
  border: 1px solid #CFCFCF;

  &__list {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);

  }

  &__item {
    font-weight: 600;
    font-size: 15px;
    padding: 10px 40px;
    border: 1px solid $borderLight;
    background-color: #F5F5F5;
    clip-path: polygon(20% 0%, 80% 0%, 100% 70%, 0% 70%);
  }

  &__desc {
    width: 60%;
    margin-top: 50px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__table {
    background: #FFFFFF;
    box-shadow: 0 4px 23px rgba(0, 0, 0, 0.1);
    padding: 65px;
    width: 100%;
    margin-right: 50px;
  }
}
