// base active class

.is-active {
  color: $isActiveColor;
}

// nav item active class

.nav-active {
  color: $isActiveColor;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: $isActiveColor;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.nav-active-christmas {

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: $secondFontColor;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

// slider-nav active class


.el-active .learning-slider-nav__link > .learning-slider-nav__circle {
  background: #FFFFFF;
}

.el-active .learning-slider-nav__link > .learning-slider-nav__circle > .learning-slider-nav__icon {
  fill: #3A637E;
}

.el-active .slider-nav__link > .slider-nav__circle {
  background: #FFFFFF;
}

.el-active .slider-nav__link > .slider-nav__circle > .slider-nav__icon {
  fill: #3A637E;
}


// slider pagination active class

.p-active {
  background: #FFFFFF;
}

// trading-robots catalog item active class

.item-active {
  background: linear-gradient(110.37deg, #0368AC 32.88%, #4A9AD0 89.56%);
  color: #FFFFFF;
}

.item-active > .trading-robots__more {
  display: none;
}

.item-active > .trading-robots__reviews {
  display: block;
}

.item-active > .trading-robots__dropdown {
  display: flex;
}

.item-active .trading-robots__pic > .trading-robots__img {
  display: none;
}

.item-active .trading-robots__pic > .trading-robots__img-active {
  display: block;
}

// robot-slider active element class

.sl-active {
  height: 140px;
  width: 180px;
}

// prices list active class

.pr-active > .prices__dropdown {
  display: block;
}

.pr-active > .prices-christmas__dropdown {
  display: block;
}

.pr-active > .prices-christmas__icon-hide {
  display: block;
}

.pr-active > .prices-broker__dropdown {
  display: block;
}

.pr-active > .prices-broker__icon-hide {
  display: block;
}




// find-broker catalog item active class

.b-active {
  background: linear-gradient(110.37deg, #0368AC 32.88%, #4A9AD0 89.56%);
  color: $secondFontColor;
}

.b-active > .find-broker__dropdown, .find-broker__reviews {
  display: flex;
}

.b-active > .find-broker__more {
  display: none;
}
