@import "../../local_modules/normalize.css/normalize";

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: $mainFont;
  font-size: $mainFontSize;

  @include laptop {
    font-size: 17px;
  }

  @include tablet {
    font-size: 16px;
  }

  @include phone {
    font-size: 15px;
  }
}

body {
  margin: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
}

img {
  max-width: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}

.button, button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: $mainFont;
  font-size: $mainFontSize;
  padding: 0;
}

.button--download {
  font-size: 18px;
  color: $mainFontColor;
  border-bottom: 1px solid #BABABA;
  padding-bottom: 6px;
  letter-spacing: 3px;
  text-transform: uppercase;
  z-index: 10;
  position: relative;

  &--white {
    color: $secondFontColor;
  }
}

a {
  text-decoration: none;
}

.container {
  max-width: 95%;
  width: 1180px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 46px;
  font-weight: 600;
}



