.header {
  padding: 25px 0 15px 0;


  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #CECECE;
    top: 80px;
  }

  &__topheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {

  }

  &__logo-icon {
    fill: #2D9CDB;
    width: 60px;
    height: 36px;
  }

  &__nav {

  }

  &__lang_controls {

  }

  &__personal-controls {

  }

  &__subheader {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
}
