.slider-nav {
  background-color: rgba(45, 53, 58, 0.7);
  padding: 40px 0;

  @include phone {
    padding: 25px 0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    @include phone {
      padding: 5px;
    }
  }

  &__circle {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #3A637E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    @include phone {
      width: 45px;
      height: 45px;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    fill: #FFFFFF;

    @include phone {
      width: 20px;
      height: 20px;
    }
  }

  &__name {
    font-size: 15px;
    color: $secondFontColor;
    text-align: center;

    @include phone {
      font-size: 10px;
    }

    @include phone-m {
      font-size: 9px;
    }
  }

  &__title {
    font-size: 36px;
    color: $secondFontColor;
    margin-right: 90px;

    @include tablet {
      display: none;
    }
  }
}
