extends common/layout
block variables
  - var title = 'S#.API'

block content
  include includes/api/api-banner
  include includes/api/api-description
  include includes/api/api-features
  include common/download-buttons
