extends common/layout-second
block variables
  - var title = 'Форум создание темы'

//block content
  include includes/forum-new-theme/new-theme-form-banner
  include includes/forum-new-theme/new-theme-section
