doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title Обучение
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(rel="stylesheet" href="css/style.min.css")
  body
    .wrapper
      include includes/learning/learning-header
      include includes/learning/learning-slider
      include includes/learning/features
    script(src='js/main.min.js')
