doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Обучение
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(rel="stylesheet" href="css/style.min.css")
  body
    .wrapper
      include includes/learning-christmas/learning-header
      include includes/learning-christmas/learning-slider
      include includes/learning-christmas/features
      include includes/learning-christmas/prices
      include includes/learning-christmas/robots
      include includes/learning-christmas/soft
      include includes/learning-christmas/reviews
      include includes/learning-christmas/partners
      include includes/learning/learning-footer
    script(src='js/main.min.js')
