extends common/layout-second
block variables
  - var title = 'Форма сообщения'

//block content
  include includes/message-page/message-page-banner
  include includes/message-page/message-page-section
