extends common/layout
block variables
  - var title = 'Программы'

block content
  include includes/programs/programs-banner
  include includes/programs/programs-description
  include includes/programs/programs-all
  include common/download-buttons
