extends common/layout
block variables
  - var title = 'Торговые роботы - страница робота'

block content
  include includes/robot-page/robot-page-banner
  include includes/robot-page/robot-description
  include includes/robot-page/how-it-works
