section.designer-description
  .container
    .designer-description__content
      ul.designer-description__list
        li.designer-description__item
          .designer-description__block
            .designer-description__name S#.Designer
            .designer-description__desc Создание стратегий БЕЗ программирования.
            button(type='button').designer-description__button.button Возможности
            .designer-description__elements
              .designer-description__el Более 70 индикаторов теханализа.
                span.designer-description__el-icon ИТ
              .designer-description__el Вложенные схемы.
                span.designer-description__el-icon ВС
              .designer-description__el Создание индикаторов в дизайнере.
                span.designer-description__el-icon СИ
              .designer-description__el Возможность программирования "квантовых" алгоритмов
                span.designer-description__el-icon КА
          .designer-description__pic
            img(src='img/img1.jpg' alt='Картинка компьютера')
        li.designer-description__item.designer-description__item--mirror
          .designer-description__block
            .designer-description__name Тестирование на истории
            button(type='button').designer-description__button.button Возможности
            .designer-description__elements
              .designer-description__el Любые типы данных (свечки, тики, стаканы, ордерлог).
                span.designer-description__el-icon ТД
              .designer-description__el Расширенные отчеты с возможностью экспорта.
                span.designer-description__el-icon РО
              .designer-description__el Детальная статистика.
                span.designer-description__el-icon ДС
          .designer-description__pic
            img.designer-description__img(src='img/img2.jpg' alt='Картинка компьютера')
        li.designer-description__item
          .designer-description__block
            .designer-description__name Отладчик формул
            button(type='button').designer-description__button.button Возможности
            .designer-description__elements
              .designer-description__el Остановка работы стратегии для просмотра данных.
                span.designer-description__el-icon ТСГ
              .designer-description__el Пошаговое исполнение логики.
                span.designer-description__el-icon ПС
          .designer-description__pic
            img(src='img/img3.jpg' alt='Картинка компьютера')
        li.designer-description__item.designer-description__item--mirror
          .designer-description__block
            .designer-description__name Подключение торговли
            .designer-description__desc Подключение торговли ко всем площадкам (включены российские, американские, азиатские; акции, фьючерсы, опционы, биткоины, форекс и т.д.).
            button(type='button').designer-description__button.button Возможности
            .designer-description__elements
              .designer-description__el Одновременное подключение к множеству брокеров.
                span.designer-description__el-icon ПИК
              .designer-description__el Симулятор торгов на реальных данных.
                span.designer-description__el-icon ВПП
              .designer-description__el Любой брокер или брокер-партнер (преимущества).
                span.designer-description__el-icon S#D
          .designer-description__pic
            img.designer-description__img(src='img/img4.jpg' alt='Картинка компьютера')
        li.designer-description__item
          .designer-description__block
            .designer-description__name Стратегии на C# языке.
            button(type='button').designer-description__button.button Возможности
            .designer-description__elements
              .designer-description__el Авто-дополнение кода, подсветка синтаксиса.
                span.designer-description__el-icon ПИК
              .designer-description__el Возможность создания стратегий в Visual Studio с отладкой.
                span.designer-description__el-icon ВПП
          .designer-description__pic
            img.designer-description__img(src='img/img2.jpg' alt='Картинка компьютера')
        li.designer-description__item.designer-description__item--mirror
          .designer-description__block
            .designer-description__desc Примеры стратегий - арбитражный робот и котирование опционов с дельта-хеджированием:
            .designer-description__buttons
              button(type='button').designer-description__button-download.button.button--download Скачать
              button(type='button').button.button--download документация
          .designer-description__pic
            img(src='img/img1.jpg' alt='Картинка компьютера')
