@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Exo2';
  src: url('../fonts/exo2.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
