// Font
$mainFont: 'Fira Sans', Helvetica, Arial, sans-serif;
$mainFontSize: 18px;
$mainLineHeight: 1.4;

// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// Colors
$mainFontColor: #4F4F4F;
$secondFontColor: #FFFFFF;
$isActiveColor: #2D9CDB;

// Transition
$speed: 0.2s;
