.baner-pagination
  ul.baner-pagination__list
    li.baner-pagination__item.p-active
      a(href='#').baner-pagination__link
    li.baner-pagination__item
      a(href='#').baner-pagination__link
    li.baner-pagination__item
      a(href='#').baner-pagination__link
    li.baner-pagination__item
      a(href='#').baner-pagination__link
    li.baner-pagination__item
      a(href='#').baner-pagination__link
