.options {
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.1);
  padding: 70px 80px;
  height: 100%;
  width: 100%;

  @include laptop {
    padding: 35px 40px;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;

    @include laptop {
      width: 100%;
    }

    @include tablet {

    }

    @include phone {
      width: 100%;
      padding: 10px;
    }
  }

  &__checkbox-name {
    font-size: 17px;
    color: #202020;
  }

  &__table-cell {
    border-bottom: 1px solid $borderLight;
    padding: 15px 15px 15px 0;

    @include laptop {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__table-row {

  }

  &__lable {
    display: flex;
    align-items: center;
  }

  &__checkbox {
    display: none;

    &:checked + .options__checkbox-icon {
      background: #2D9CDB;
      border: 2px solid #2D9CDB;
    }

    &:checked + .options__checkbox-icon:before {
      opacity: 1;
    }
  }

  &__checkbox-icon {
    border: 2px solid #BDBDBD;
    width: 25px;
    min-width: 25px;
    height: 25px;
    border-radius: 3px;
    display: block;
    position: relative;
    margin-right: 12px;

    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 8px;
      height: 16px;
      margin: 1px 7px 1px;
      border: solid $secondFontColor;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity .2s;
    }
  }

  &__table-options {
    display: flex;
  }
}

