.robots-features {
  display: flex;

  &__list {
    @include laptop {
      margin-right: 30%;
    }

    @include phone {
      margin-right: 0;

    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    position: relative;
    z-index: 20;

    &:first-child {
      margin-bottom: 40px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    background: #FFFFFF;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.19);
    min-width: 52px;
    min-height: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    position: relative;

    &:before {
      content: '';
      background-color: #202020;
      opacity: .2;
      display: block;
      position: absolute;
      height: 50px;
      width: 1px;
      left: 50%;
      transform: translateX(-50%);
      bottom: -50px;
    }
  }

  &__icon-end:before {
    display: none;
  }


  &__text {
    font-size: 16px;
    text-align: left;
  }

  &__text span {
    color: #2D9CDB;
    font-weight: 600;
  }
}
