section.forum
  .container
    .forum__title статьи. StockSharp
    .forum__content
      .forum__search
        include ../../common/search-controls
        .forum__youtube
          include ../../common/youtube-btn
      .forum__block
        .forum__messages
          include forum-table
        .forum__sidebar
          include ../../common/sidebar
      .forum__pagination
        include ../../common/page-pagination
