table.forum-table
  tr.forum-table__row
    td.forum-table__cell.forum-table__message
      .forum-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .forum-table__tags
        .forum-table__tag.forum-table__tag-first Тег: 3D графика
        .forum-table__tag 12 ноября 2018
    td.forum-table__cell.forum-table__user
      .forum-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg')
      .forum-table__user-info
        .forum-table__user-name Люся Рошка
        .forum-table__user-time Ответила 3 дня назад
    td.forum-table__cell
      .forum-table__views 595 Просмотров
    td.forum-table__cell
      .forum-table__answers 29 Ответов
  tr.forum-table__row
    td.forum-table__cell.forum-table__message
      .forum-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .forum-table__tags
        .forum-table__tag.forum-table__tag-first Тег: 3D графика
        .forum-table__tag 12 ноября 2018
    td.forum-table__cell.forum-table__user
      .forum-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg')
      .forum-table__user-info
        .forum-table__user-name Люся Рошка
        .forum-table__user-time Ответила 3 дня назад
    td.forum-table__cell
      .forum-table__views 595 Просмотров
    td.forum-table__cell
      .forum-table__answers 29 Ответов
  tr.forum-table__row
    td.forum-table__cell.forum-table__message
      .forum-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .forum-table__tags
        .forum-table__tag.forum-table__tag-first Тег: 3D графика
        .forum-table__tag 12 ноября 2018
    td.forum-table__cell.forum-table__user
      .forum-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg')
      .forum-table__user-info
        .forum-table__user-name Люся Рошка
        .forum-table__user-time Ответила 3 дня назад
    td.forum-table__cell
      .forum-table__views 595 Просмотров
    td.forum-table__cell
      .forum-table__answers 29 Ответов
  tr.forum-table__row
    td.forum-table__cell.forum-table__message
      .forum-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .forum-table__tags
        .forum-table__tag.forum-table__tag-first Тег: 3D графика
        .forum-table__tag 12 ноября 2018
    td.forum-table__cell.forum-table__user
      .forum-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg')
      .forum-table__user-info
        .forum-table__user-name Люся Рошка
        .forum-table__user-time Ответила 3 дня назад
    td.forum-table__cell
      .forum-table__views 595 Просмотров
    td.forum-table__cell
      .forum-table__answers 29 Ответов
  tr.forum-table__row
    td.forum-table__cell.forum-table__message
      .forum-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .forum-table__tags
        .forum-table__tag.forum-table__tag-first Тег: 3D графика
        .forum-table__tag 12 ноября 2018
    td.forum-table__cell.forum-table__user
      .forum-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg')
      .forum-table__user-info
        .forum-table__user-name Люся Рошка
        .forum-table__user-time Ответила 3 дня назад
    td.forum-table__cell
      .forum-table__views 595 Просмотров
    td.forum-table__cell
      .forum-table__answers 29 Ответов
  tr.forum-table__row
    td.forum-table__cell.forum-table__message
      .forum-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .forum-table__tags
        .forum-table__tag.forum-table__tag-first Тег: 3D графика
        .forum-table__tag 12 ноября 2018
    td.forum-table__cell.forum-table__user
      .forum-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg')
      .forum-table__user-info
        .forum-table__user-name Люся Рошка
        .forum-table__user-time Ответила 3 дня назад
    td.forum-table__cell
      .forum-table__views 595 Просмотров
    td.forum-table__cell
      .forum-table__answers 29 Ответов
  tr.forum-table__row
    td.forum-table__cell.forum-table__message
      .forum-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .forum-table__tags
        .forum-table__tag.forum-table__tag-first Тег: 3D графика
        .forum-table__tag 12 ноября 2018
    td.forum-table__cell.forum-table__user
      .forum-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg')
      .forum-table__user-info
        .forum-table__user-name Люся Рошка
        .forum-table__user-time Ответила 3 дня назад
    td.forum-table__cell
      .forum-table__views 595 Просмотров
    td.forum-table__cell
      .forum-table__answers 29 Ответов
  tr.forum-table__row
    td.forum-table__cell.forum-table__message
      .forum-table__title [ТехПоддержка] Проблема с коннектором МТ4
      .forum-table__tags
        .forum-table__tag.forum-table__tag-first Тег: 3D графика
        .forum-table__tag 12 ноября 2018
    td.forum-table__cell.forum-table__user
      .forum-table__user-avatar
        img.forum-table__user-avatar-icon(src='img/av.svg')
      .forum-table__user-info
        .forum-table__user-name Люся Рошка
        .forum-table__user-time Ответила 3 дня назад
    td.forum-table__cell
      .forum-table__views 595 Просмотров
    td.forum-table__cell
      .forum-table__answers 29 Ответов
