section.data-description
  .container
    .data-description__content
      ul.data-description__list
        li.data-description__item.data-description__item--mirror
          .data-description__block
            .data-description__name S#.DATA
            .data-description__desc Огромный выбор источников маркет-данных
            button(type='button').data-description__button.button Возможности
            .data-description__elements
              .data-description__el РТС, ММВБ, Quik, SmartCOM, Plaza2, Финам, Transaq, Google Finance, Yahoo Finance, AlfaDirect, LMAX, Oanda, Interactive Brokers, OpenECry, Blackwood (Fusion), FIX, Micex Bridge, DukasCopy, MBTrading, TrueFX, GainCapital, Rithmic, FinViz, MFD, BTCE, BitStamp, BitStamp, Bitfinex, Coinbase, Kraken, Poloniex, GDAX, Bittrex, Bithumb, HitBTC, OKCoin, Coincheck, Binance, Liqui, CEX.IO, Cryptopia, OKEx, BitMEX, YoBit, Livecoin, EXMO, Deribit, Huobi, KuCoin, BITEXBOOK, CoinExchange, УкрБиржа, SPB биржа.
                | Поддерживает все рынки (российские, американские, азиатские; акции, фьючерсы, опционы, биткоины, форекс и т.д.)
                | Исторические и реал-тайм маркет-данные всех типов (японские свечи (candlesticks), level1, level2, тики, стаканы (order book), ордер-лог, открытый интерес (ОИ), опционы, облигации и многое другое).
          .data-description__pic
            img.data-description__img(src='img/data1.svg' alt='Картинка данные')
        li.data-description__item
          .data-description__block
            .data-description__desc Высочайшая степенью сжатия (2 байта на сделку, 7 байтов на стакан).
            button(type='button').data-description__button.button Возможности
            .data-description__elements
              .data-description__el Может хранить данные как в bin формате, так и классическом csv. Бэкап данных. Удобное копирование данных (через Windows Explorer).
          .data-description__pic
            img(src='img/data2.svg' alt='Картинка сжатие данных')
        li.data-description__item.data-description__item--mirror
          .data-description__block
            .data-description__desc Экспорт и импорт в несколько форматов (csv, excel, xml, напрямую в базу данных).
            button(type='button').data-description__button.button Возможности
            .data-description__elements
              .data-description__el Позволяет строить одни данные из других (например, свечки из тиков).
          .data-description__pic
            img.data-description__img(src='img/data3.jpg' alt='Картинка база данных')
        li.data-description__item
          .data-description__block
            .data-description__desc Может быть запущена как сервер маркет-данных.
            button(type='button').data-description__button.button Возможности
            .data-description__elements
              .data-description__el Работа по расписанию. Простая интеграция с S#.Designer и S#.API. Программный доступ к данным через специальный API.
          .data-description__pic
            img(src='img/img2.jpg' alt='Картинка компьютера')
      .data-description__buttons
        button(type='button').data-description__button-download.button.button--download Скачать
        button(type='button').data-description__button-download.button.button--download документация

