section.trading-robots
  .container
    .trading-robots__title Торговые роботы
    .trading-robots__controls
      .find-broker__filter-search
        .find-broker__filter
          include ../../common/filter
        .find-broker__search
          include ../../common/search-controls
      .trading-robots__download
        button(type='button').button.trading-robots__download-button Загрузить свое
    .trading-robots__catalog
      ul.trading-robots__list
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item.item-active
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
    .trading-robots__pagination
      include ../../common/page-pagination


