section.trading-robots
  .container
    .trading-robots__title Торговые роботы
    .trading-robots__controls
      .trading-robots__filter
        button.trading-robots__filter-button(type='button') Фильтр
          svg.trading-robots__filter-icon(width='13', height='7', viewBox='0 0 13 7', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(opacity='0.3', d='M0.134482 0.78905C0.0448275 0.698873 0 0.586151 0 0.462158C0 0.338164 0.0448275 0.225443 0.134482 0.135266C0.313793 -0.0450886 0.605172 -0.0450886 0.784483 0.135266L6.5 5.88406L12.2155 0.135266C12.3948 -0.0450886 12.6862 -0.0450886 12.8655 0.135266C13.0448 0.31562 13.0448 0.608696 12.8655 0.78905L6.825 6.86473C6.64569 7.04509 6.35431 7.04509 6.175 6.86473L0.134482 0.78905Z', fill='black')
        .trading-robots__filter-pager A-Z
      .trading-robots__search
        input(type='search').trading-robots__search-input
        button(type='button').trading-robots__search-button Поиск
      .trading-robots__download
        button(type='button').button.trading-robots__download-button Загрузить свое
    .trading-robots__catalog
      ul.trading-robots__list
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item.item-active
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
        li.trading-robots__item
          .trading-robots__pic
            img.trading-robots__img(src='img/rb1.svg' alt='Иконка робота')
            img.trading-robots__img-active(src='img/rb3.svg' alt='Иконка робота')
          .trading-robots__name Песочные часы
          .trading-robots__price Цена: 129900,00 РУБ
          .trading-robots__more Подробнее
          .trading-robots__reviews Отзывы: 27
          .trading-robots__dropdown
            .trading-robots__criteria Критерии
            ul.trading-robots__criteria-list
              li.trading-robots__criteria-item Арбитраж
              li.trading-robots__criteria-item Корреляция
              li.trading-robots__criteria-item Фьючерс
              li.trading-robots__criteria-item Спорт
              li.trading-robots__criteria-item Базовый актив
              li.trading-robots__criteria-item Биткойн
            button(type='button').button.trading-robots__get-button получить
    .trading-robots__pages
      ul.trading-robots__pages-list
        li.trading-robots__pages-list-item 1
        li.trading-robots__pages-list-item 2
        li.trading-robots__pages-list-item 3
      button.trading-robots__pages-button
        svg.trading-robots__pages-button-icon(width='10', height='19', viewBox='0 0 10 19', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(d='M1.12721 18.8034C0.99839 18.9345 0.837359 19 0.660226 19C0.483092 19 0.322061 18.9345 0.193237 18.8034C-0.0644122 18.5414 -0.0644122 18.1155 0.193237 17.8534L8.4058 9.5L0.193237 1.14655C-0.0644122 0.884483 -0.0644122 0.458621 0.193237 0.196552C0.450886 -0.0655172 0.869566 -0.0655172 1.12721 0.196552L9.80676 9.025C10.0644 9.28707 10.0644 9.71293 9.80676 9.975L1.12721 18.8034Z', fill='black')


