.price-total
  .price-total__container
    .price-total__result
      .price-total__price Цена:
      .price-total__price-value 32 900 РУБ.
    .price-total__result
      .price-total__discount Скидка:
      .price-total__discount-value 1900 РУБ.
    .price-total__result
      .price-total__sum Итого:
      .price-total__sum-value 31900 РУБ.
  .price-total__box
    .price-total__description
      .price-total__percent 35%
      .price-total__desc при покупке 2х лицензий
    .price-total__description
      .price-total__percent 50%
      .price-total__desc при покупке 3х лицензий
    .price-total__desc-text При покупке 4х и более лицензий, стоимость рассчитывается по запросу
