.price-tabs
  .price-tabs__desc Вы можете купить исходные коды любого из наших продуктов и использовать их для разработки собственного решения (лицензирование по схеме White Label)
  .price-tabs__content
    .price-tabs__table
      include ../../includes/price/price-table
    .price-tabs__total
      include ../../includes/price/price-total
