.price-tabs
  ul.price-tabs__list
    li.price-tabs__item Программы
    li.price-tabs__item Коннекторы
    li.price-tabs__item Исходные коды
    li.price-tabs__item Стратегии
  .price-tabs__desc Вы можете купить исходные коды любого из наших продуктов и использовать их для разработки собственного решения (лицензирование по схеме White Label)
  .price-tabs__content
    .price-tabs__table
      include ../../includes/price/price-table
    .price-tabs__total
      include ../../includes/price/price-total
