table.price-table__table
    tr.price-table__table-row
      td.price-table__table-cell
        label.price-table__lable
          input(type='checkbox' name='option').price-table__checkbox
          span.price-table__checkbox-icon
          .price-table__checkbox-name S#.Shell
      td.price-table__table-cell.price-table__table-cell-price 19 т.р.
      td.price-table__table-cell
        label.price-table__lable
          input(type='checkbox' name='option').price-table__checkbox
          span.price-table__checkbox-icon
          .price-table__checkbox-name S#.Terminal
      td.price-table__table-cell.price-table__table-cell-price 500 т.р.
    tr.price-table__table-row
      td.price-table__table-cell
        label.price-table__lable
          input(type='checkbox' name='option').price-table__checkbox
          span.price-table__checkbox-icon
          .price-table__checkbox-name S#.MatLab
      td.price-table__table-cell.price-table__table-cell-price 59 т.р.
      td.price-table__table-cell
        label.price-table__lable
          input(type='checkbox' name='option').price-table__checkbox
          span.price-table__checkbox-icon
          .price-table__checkbox-name S#.Data
      td.price-table__table-cell.price-table__table-cell-price 500 т.р.
    tr.price-table__table-row
      td.price-table__table-cell
        label.price-table__lable
          input(type='checkbox' name='option').price-table__checkbox
          span.price-table__checkbox-icon
          .price-table__checkbox-name S#.Designer
      td.price-table__table-cell.price-table__table-cell-price 500 т.р.
      td.price-table__table-cell
        label.price-table__lable
          input(type='checkbox' name='option').price-table__checkbox
          span.price-table__checkbox-icon
          .price-table__checkbox-name S#.API
      td.price-table__table-cell.price-table__table-cell-price 500 т.р
