section.shell-description
  .container
    .shell-description__content
      ul.shell-description__list
        li.shell-description__item
          .shell-description__block
            .shell-description__name S#.SHELL
            .shell-description__desc Готовый каркас для вашего торгового робота с исходными кодами C#.
            button(type='button').shell-description__button.button Возможности
            .shell-description__elements
              .shell-description__el Вам не нужно тратить время на создание GUI (графического интерфейса пользователя), готовый робот создается быстрее без ущерба юзабилити приложения. Базовый функционал для тестирования, торговли, подключения к источникам данных, отображения графиков, портфелей, позиций, заявок и сделок уже в коробке.
               | S#.Shell - лучшее решение для быстрого написания и тестирования роботов. Вы можете сосредоточиться на главном - алгоритме!
          .shell-description__pic
            img.shell-description__img(src='img/img1.jpg' alt='Картинка компьютер')
        li.shell-description__item.shell-description__item--mirror
          .shell-description__features
            include shell-features
          .shell-description__pic
            img.shell-description__img(src='img/img3.jpg' alt='Картинка компьютер')
            .shell-description__buttons
              button(type='button').shell-description__button-download.button.button--download Скачать
              button(type='button').button.button--download документация
