.shell-features
  .shell-features__title ПРЕИМУЩЕСТВА:
    ul.shell-features__list
      li.shell-features__item
        .shell-features__name Полный исходный код
        .shell-features__desc Идеально для роботов на заказ, или для своих решений. Поддержка всех подключений платформы StockSharp: Quik, SmartCom, Plaza II CGate, FIX/FAST, Криптобирж (+30 на данный момент) и т.д. Гибкий пользовательский интерфейс
      li.shell-features__item
        .shell-features__name Параллельный запуск стратегий
        .shell-features__desc Подробная информация о работе стратегии (ордера, сделки, позиция, прибыль, логи и т.д.). Все наглядно и просто. Запуск стратегий по расписанию.
      li.shell-features__item
        .shell-features__name Тестирование стратегий
        .shell-features__desc (статистика, эквити, отчет). Сохранение и восстановление настроек стратегии.
  .shell-features__btn
    button(type='button').button.shell-features__button-download Загрузить еще
